.image-paths{
	height:30px;
	width: 200x;
	position: relative;
	float: left;
}

.home-h4{
	cursor:pointer;
	display:inline;
	margin-top:10px;
	margin-left: 5px;
	text-decoration: none;
}

.table-home{
	width: 100%;
}