/* General Styling*/
html * {
    outline: 0 !important;
}

body{
	background-color: #D4D9DD;
}

.nav-header{
	top:0px;
	left:0px;
	position:fixed;
	width:100%;
	height:69px;
	z-index:9999;
	padding:10px;
	margin-bottom:0px;
}

.nav-view-container{
	padding:0px;
}

.text-right{
	float:right;
	display: inline;
}

.text-left{
	float:left;
	display: inline;
}

h3 {
	font-style:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:23px;
}

.label-active{
	color:'red';
}

/* End */

/* Grid Console Style */

.box {
    border-radius: 25px;
    border: 2px solid #000;
    padding: 20px;
    width: 250px;
    height: 250px;
    display:inline-block;
}
.logo{
	top:auto;
	left:auto;
	right:auto;
	bottom:auto;
	opacity:0.1;
	position:absolute;
}

.desc{
	float:left;
}

/* End */

/* Style for custom bootstrap buttons */

#button_clear{
	padding:0px;
}

.checkbox-holder{
	width:10px;
}
 
.btn-success2 { 
	color: #3F6F3F; 
	background-color: #BDDEAD; 
	border-color: #BDDEAD; 
} 
 
.panel-body{
	padding: 0px;
	overflow-x:scroll;
}

.panel-heading{
	padding-top:0px;
	padding-bottom:0px;
	padding-left:10px;
	padding-right:10px;
}
 
.btn-success2:hover, 
.btn-success2:focus, 
.btn-success2:active, 
.btn-success2.active, 
.open .dropdown-toggle.btn-success2 { 
	color: #3F6F3F; 
	background-color: #BDDEAD; 
	border-color: #BDDEAD; 
} 
 
.btn-success2:active, 
.btn-success2.active, 
.open .dropdown-toggle.btn-success2 { 
	background-image: none; 
} 
 
.btn-success2.disabled, 
.btn-success2[disabled], 
fieldset[disabled] .btn-success2, 
.btn-success2.disabled:hover, 
.btn-success2[disabled]:hover, 
fieldset[disabled] .btn-success2:hover, 
.btn-success2.disabled:focus, 
.btn-success2[disabled]:focus, 
fieldset[disabled] .btn-success2:focus, 
.btn-success2.disabled:active, 
.btn-success2[disabled]:active, 
fieldset[disabled] .btn-success2:active, 
.btn-success2.disabled.active, 
.btn-success2[disabled].active, 
fieldset[disabled] .btn-success2.active { 
	background-color: #BDDEAD; 
	border-color: #BDDEAD; 
} 
 
.btn-success2 .badge { 
	color: #BDDEAD; 
	background-color: #3F6F3F; 
}

.btn-failure2 { 
	color: #AF3C43; 
	background-color: #E8B1B2; 
	border-color: #E8B1B2; 
} 
 
.btn-failure2:hover, 
.btn-failure2:focus, 
.btn-failure2:active, 
.btn-failure2.active, 
.open .dropdown-toggle.btn-failure2 { 
	color: #AF3C43; 
	background-color: #E8B1B2; 
	border-color: #E8B1B2; 
} 
 
.btn-failure2:active, 
.btn-failure2.active, 
.open .dropdown-toggle.btn-failure2 { 
	background-image: none; 
} 
 
.btn-failure2.disabled, 
.btn-failure2[disabled], 
fieldset[disabled] .btn-failure2, 
.btn-failure2.disabled:hover, 
.btn-failure2[disabled]:hover, 
fieldset[disabled] .btn-failure2:hover, 
.btn-failure2.disabled:focus, 
.btn-failure2[disabled]:focus, 
fieldset[disabled] .btn-failure2:focus, 
.btn-failure2.disabled:active, 
.btn-failure2[disabled]:active, 
fieldset[disabled] .btn-failure2:active, 
.btn-failure2.disabled.active, 
.btn-failure2[disabled].active, 
fieldset[disabled] .btn-failure2.active { 
	background-color: #E8B1B2; 
	border-color: #E8B1B2; 
} 
 
.btn-failure2 .badge { 
	color: #E8B1B2; 
	background-color: #AF3C43; 
}

.btn-warning2 { 
	color: #7A6337; 
	background-color: #FCEDAB; 
	border-color: #FCEDAB; 
} 
 
.btn-warning2:hover, 
.btn-warning2:focus, 
.btn-warning2:active, 
.btn-warning2.active, 
.open .dropdown-toggle.btn-warning2 { 
	color: #7A6337; 
	background-color: #FCEDAB; 
	border-color: #FCEDAB; 
} 
 
.btn-warning2:active, 
.btn-warning2.active, 
.open .dropdown-toggle.btn-warning2 { 
	background-image: none; 
} 
 
.btn-warning2.disabled, 
.btn-warning2[disabled], 
fieldset[disabled] .btn-warning2, 
.btn-warning2.disabled:hover, 
.btn-warning2[disabled]:hover, 
fieldset[disabled] .btn-warning2:hover, 
.btn-warning2.disabled:focus, 
.btn-warning2[disabled]:focus, 
fieldset[disabled] .btn-warning2:focus, 
.btn-warning2.disabled:active, 
.btn-warning2[disabled]:active, 
fieldset[disabled] .btn-warning2:active, 
.btn-warning2.disabled.active, 
.btn-warning2[disabled].active, 
fieldset[disabled] .btn-warning2.active { 
	background-color: #FCEDAB; 
	border-color: #FCEDAB; 
} 
 
.btn-warning2 .badge { 
	color: #FCEDAB; 
	background-color: #7A6337; 
}

/* End */

/* Bootstrap solution to get the buttons corners rounded */

.btn-group > .btn:first-of-type {
	margin-left: 0;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}

.btn-group > .btn:last-of-type, .btn-group > .dropdown-toggle {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}

/* End */

.myAccordion.ui-state-hover, .myAccordion.ui-state-focus {text-decoration:none;}

/* Style to restrict users from selecting text*/
.ui-state-focus { outline: none; }
.ui-accordion-header {outline: none;}
.ui-state-focus{
    outline: none;
}
.noselect {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* End */

/* Style to unrestrict users from selecting text */

.select {
	-webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/* End */

/* Redmind triangle */

.triangle-overlay {
	display: block;
	position: fixed;
	z-index: 10000;
	top: 0px;
	right: 0px;
	width: 105px;
	height: 172px;
}

/* End */

/* Site content */

.container{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background-color: #ecf0f1;
	position: relative;
	padding: 10px;
	min-width:735px;
}

.container2{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	position: relative;
	right:0px;
	margin-bottom:-20px;
	min-width:735px;
}

/* End */

/* Bootstrap menu */

.navbar-custom {
    background-color: #D4D9DD;
    color: #666666;
    margin-bottom:0px;
    margin-left:5px;
}

/* End */

/* Style for image-path at home.html*/

.image-paths{
	height:30px;
	width: 200x;
	position: relative;
	float: left;
}

.home-h4{
	cursor:pointer;
	display:inline;
	margin-top:10px;
	margin-left: 5px;
	text-decoration: none;
}

.table-home{
	width: 100%;
}

/* End */

/* Adds the function to scroll inside the dropdown menus*/

.scrollable-menu {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
}

/* End */

/* Navigation Menu Style */

.navTextStuff {
	float: left;
	cursor: pointer;
}

/* End */

/* Checkbox style */

.mycheckbox 
{ 
    float: left;
    margin-top:10px;
    background: url('http://www.gravatar.com/avatar/a2614a382fe86e0f69c1beb27182a63b?s=32&d=identicon&r=PG'); 
}

.mycheckbox:checked 
{ 
    background: url('http://www.gravatar.com/avatar/330084e6f83101ec352f5f156b56508e?s=32&d=identicon&r=PG'); 
}

/* End */

/* Style for reports.html */

.reports {
	position: relative;
	float: left;
}


.reports-cursor-inline{
	display:inline-block;
	cursor:pointer;
}

.reports-input{
	margin-top:14px;
	margin-left:5px;
}

.reports-input-filter{
	width:150px;
	display:inline;
}

.reports-h4{
	cursor:pointer;
	text-align:center;
}

.reports-h5{
	margin-bottom:0px;
	margin-top:0px;
}

.reports-filter{
	margin-top:15px;
	word-break:break-all;
	valign:bottom;
}

/* End */


/* Style for screenshot-methods.html */

.screenshot-methods-table{
	display:inline-block;
	padding:10px;
	margin:5px;
}

.screenshot-methods-description{
	top: 0px;
	display:inline-block;
}

.slide-img{
	width: 800px;
}

.view{
	margin-left: 10px;
	font-size: 20px;
	position:responsive;
	float:left;
	margin-top:15px;
	margin-bottom:0px;
}

.no-screenshot{
	margin-left:10px; 
	margin-top:10px;
}

/* End */

/* Style for cases.html*/

.cases-timetorun{
	float:right;
	display:inline
}

/* End */

/* Style for home.html */

.disabled {
   pointer-events: none;
   cursor: default;
  
  opacity:0.5
}
.enable {
  
    opacity:1
  
}

.home{
	position:responsive;
	float:left;
}

/* End */

/* Style for classes.html */

.class-method-container{
	height:100%;
	margin-top:10px;
	padding-left:10px;
	padding-right:10px;
	cursor:pointer;
	word-wrap: break-all;
}

.classes-input{
	float:left;
	margin-bottom:5px;
	margin-left:10px;
}

/* End */

/* Styling for methods.html*/

.methods-input{
	float:left;
	margin-bottom:5px;
	margin-left:5px;
}

/* End */

/* Aligns checkboxes in classes and methods accordion vertically. */

input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: top;
    position: relative;
    *top: 1px;
    *overflow: hidden;
}
label {
    display: block;
    padding: 0;
    padding-left: 15px;
    text-indent: -15px;
    border: 0px solid;
    margin-left: 5px;
    vertical-align: top;
}

/* End */

/* Specifications style */

.specs-clear-button{
	width: 150px;
	vertical-align:bottom;
	margin-bottom:1px;
}

.accordion-toggle{
	padding-top:10px;
	padding-bottom:10px;
}

.specs-heading{
	padding:0px;
}

.spec-option-header{
	margin-left:10px;
	margin-right:10px;
}

.option-headline{
	margin:0px;
	margin-left:10px;
}

.option-item{
	padding-right:10px;
}

.option-browser{
	padding-top:5px;
}

.row{
	border:10px solid #D4D9DD;
	margin-top:10px;
	margin-bottom:10px;
}
	
/* End */

.specs-container{
	margin-top:10px;
}

/*screenshot style*/

.screenshot-container{
	height: 100%;
	cursor: pointer;
	word-break: break-all;
	margin: 0px;
	margin-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;
}

.screenshot-view{
 padding:5px;
}

.screenshot-class-display{
	margin-top:10px;
	padding-left:10px;
	padding-right:10px;
	cursor:pointer;
}

.screenshot-nav{
	cursor:pointer;
	margin-top:0px;
	margin-bottom:0px;
}

.accordion-name-container{
	margin-top:10px;
	margin-bottom:10px;
	font-size: 18px;
	font-weight:normal;
}

.panel-group{
	margin: 0px;
}

.stack-trace{
	margin:0px;
}

.screenshot-nav-container{
	width:100%;
    text-align:center;
}

.screenshot-nav-left{
	float:left;
    bottom:10px;
}

.screenshot-nav-center{
	-webkit-transform: translate(-50%, 0); 
	display: inline-block;
    margin:0 auto;
}

.screenshot-nav-right {
    float:right;
    bottom: 10px;
}

#class-method-option-container {
    width:100%;
    text-align:center;
    min-width:505px;
}

#class-method-option-left {
    float:left;
    bottom:10px;
}

#class-method-option-center {
    display: inline-block;
    margin:0 auto;
}

#class-method-option-right {
    float:right;
    bottom: 10px;
}

/* End */