/* Redmind triangle */

.triangle-overlay {
	display: block;
	position: fixed;
	z-index: 10000;
	top: 0px;
	right: 0px;
	width: 105px;
	height: 172px;
}

/* Navbar logo */

.logo{
	top:0px;
    width:175px;
    height:100%;
	display:block;
	opacity:0.1;
	position:absolute;
}

.rm-logo{
	height:25px;
}

.rm-logo-a{
	height:50px;
}

/* Content containers */

.container{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background-color: #ecf0f1;
	position: relative;
	padding: 10px;
	min-width:735px;
	margin-bottom:55px;
}

.container2{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	position: relative;
	right:0px;
	margin-bottom:-20px;
	min-width:735px;
}

/* General styling*/

html * {
    outline: 0 !important;
}

html{
	height:100%;
}

body{
	background-color: #D4D9DD;
	position:relative;
	height:100%;
	min-height:100%;
}

.ui-view-margin{
	top:72px;
}

.text-right{
	float:right;
	display: inline;
}

.text-left{
	float:left;
	display: inline;
}

h3 {
	font-style:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:23px;
}

.label-active{
	color:'red';
}

.myAccordion.ui-state-hover, .myAccordion.ui-state-focus {text-decoration:none;}

/* Style to restrict users from selecting text */

.ui-state-focus { outline: none; }
.ui-accordion-header {outline: none;}
.ui-state-focus{
    outline: none;
}
.noselect {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Style to unrestrict users from selecting text */

.select {
	-webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/* Adds the function to scroll inside the dropdown menus*/

.scrollable-menu {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
}

/* Current Location */

.breadcrumb{
	padding: 0px;
	margin: 0px;
	display:inline;
	background-color: transparent;
}

.breadcrumb span, a{
	color:inherit;
}

.breadcrumb span{
	font-weight:bold;
}

/* Other */

.accordion-name-container{
	margin-top:10px;
	margin-bottom:10px;
	font-size: 18px;
	font-weight:normal;
}

.stack-trace{
	margin:0px;
}

/* Highcharts */

.highcharts-container {
    overflow: visible !important;
    z-index: inherit !important;
}

/* Tooltip */

.tooltipContainer{
    position: relative;
    z-index: 50;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.95);
    padding: 5px;
    font-size: 9pt;
}

.tooltipTable td:not(:last-child), th:not(:last-child){
	padding-right: 10px;
}