<div>
    <accordion close-others="true">
        <!-- repeated content -->
        <div class='class-method-container' style="margin-top:10px" id='class-name' ng-repeat="class in CurrentSuite.currentSuite| filter: Utilities.searchField | orderBy:Utilities.sorting:reverse track by $index "
             ng-class='getPanel(class.result)' 
             ng-style="{'background-color': getBgCo(class.result)}">
            <!-- non collapsing header -->
            <table width='100%'>
                <tr>
                    <td class="checkbox-holder">
                        <input class='classes-input' style="margin-top:0px" type="checkbox" id='checkbox{{$index}}' class="mycheckbox" ng-model="class.chosen" ng-click="newContent()"><label for="mycheckbox"></label>					                    
                    </td>
                    <td id='get_methods' ng-click="getMethods(class); setState('reports.methods');" ng-style="{'color' : getCo(class.result)}">
                        <p class="accordion-name-container text-left">{{class.name}}</p>
                        <p class="accordion-name-container text-right">&nbsp;&nbsp;{{formatDecimals(class.time)}}</p>
                        <p class="accordion-name-container text-right">Skipped: {{class.stats.skipped}} Failed: {{class.stats.totFail}}</p>
                    </td>
                </tr>
            </table>
        </div>
        <!-- repeated content  End-->
    </accordion>
</div>