<accordion close-others="true" >
    <!-- repeated content -->
    <div style='cursor:pointer;height:40px' ng-repeat="class in CurrentSuite.currentSuite| filter: Utilities.searchField | orderBy:['result', 'name'] track by $index " 
         style='cursor: pointer;'
         ng-class='getPanel(class.result)' 
         ng-style="{'background-color': getBgCo(class.result)}">
        <table>
            <tr >
                <td>
                    <input style='height:30px' type="checkbox" id="mycheckbox" ng-model="class.chosen"><label for="mycheckbox"></label>
                </td>
                <td width='100%' ng-click="getMethods(class); setState('reports.methods'); resetFilterField()">
                    <div ng-style="{'color' : getCo(class.result)}" style='height: 10px;margin-top:-31px'>
                        <h3 style='margin-top:10px'>&nbsp;{{class.name}} - {{formatDecimals(class.time)}}</h3>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!-- repeated content  End-->
</accordion>