<div>
    <accordion close-others="true">
        <!-- repeated content -->
        <div class='class-method-container'style="margin-top:10px" id='method_name' ng-repeat="method in CurrentSuite.currentMethods| filter: Utilities.searchField | orderBy:Utilities.sorting:reverse track by $index" ng-class='getPanel(method.result)' ng-style="{'background-color': getBgCo(method.result)}">
            <!-- non collapsing header -->
            <table width='100%'>
                <tr>
					<td class='checkbox-holder'>
                    	<input class='methods-input' style="margin-top:0px" type="checkbox" id='checkbox{{$index}}' class="mycheckbox" ng-model="method.chosen" ng-click="newContent()">
                    	<label for="mycheckbox"></label>					                    
                    </td>
                    
                    
                    <td ng-click="getCases(method);
                            setState('reports.cases');" ng-style="{'color' : getCo(method.result)}">
						<h4 class="accordion-name-container text-left">{{method.name}}</h4> 
                        <h4 class="accordion-name-container text-right">&nbsp;{{formatDecimals(method.time)}}</h4>
                        <p class="accordion-name-container text-right">Skipped: {{method.stats.skipped}} Failed: {{method.stats.totFail}}</p>
                    </td>
                </tr>
            </table>
    </accordion>
</div>