<div class='noselect'>
	<div style='height:100%;margin-top:10px;cursor: pointer;word-break:break-all' id='method_name' ng-class='getPanel(CurrentSuite.currentClass.result)' 
	          ng-style="{'background-color': getBgCo(CurrentSuite.currentClass.result)}">
		<h3 ng-style="{'color' : getCo(CurrentSuite.currentClass.result)}">&nbsp;{{CurrentSuite.currentClass.name}}</h3>
	
			<!-- expandable methods -->
			<accordion close-others="true">
			    <!-- repeated content -->
			    <div class='noselect' ng-repeat="method in CurrentSuite.currentMethods| orderBy:Utilities.caseSorting:reverse track by $index">
			        <accordion-group style='margin-top:10px' ng-class='getPanel(method.result)' ng-style="{'background-color': getBgCo(method.result)}">
			            <!-- non collapsing header -->
			            <accordion-heading id='case_name'>
							<div style='display:inline;'>
			                    {{method.name}}
							</div>
			            </accordion-heading>
			            <!-- non collapsing header End-->
			
			            <!-- Content in collapsing Div -->

			                <pre style='white-space:nowrap;float:left;width:100%'>
				                <div align='center' ng-repeat='case in ScreenshotMaster.methods[0]' style='font-align:center;height:100%;margin-top:10px;cursor: pointer;word-break:break-all;width:220px;display:inline-block;margin-left:20px' id='method_name' ng-class='getPanel(CurrentSuite.currentClass.result)' 
							          ng-style="{'background-color': getBgCo(CurrentSuite.currentClass.result)}">
					                	HTC One - Chrome{{CurrenSuite.currenSuiteInfo.name}}-{{case.devicename}}
										<div ng-repeat='img in screenshotTestArray'>
											<img  width='200px' height='300px' src="{{img}}"></img><br><br>
										</div>	
								</div>	
			                </pre>

			            <!-- Content in collapsing Div End -->
			
			        </accordion-group>
			    </div>
			    <!-- repeated content  End-->
			</accordion>
	</div>
</div>