<p class="screenshot-nav" ng-click="setState('screenshots.classes')">Go
	back to Classes</p>
<div>
	<div class="screenshot-container" id='method_name'
		ng-class='getPanel(CurrentSuite.currentClass.result)'
		ng-style="{'background-color': getBgCo(CurrentSuite.currentClass.result)}">
		<h4 class="accordion-name-container"
			ng-style="{'color' : getCo(CurrentSuite.currentClass.result)}">&nbsp;{{CurrentSuite.currentClass.name}}</h4>

		<!-- expandable methods -->
		<accordion close-others="false"> <!-- repeated content -->
		<div class='noselect'
			ng-repeat="method in ScreenshotMaster.data | orderBy:['result','name'] track by $index">
			<accordion-group style="margin-top:10px;padding:0px;"
				ng-class='getPanel(method.result)'> <!-- non collapsing header -->
			<accordion-heading id='method_name' style='margin: 0px 5px 0px 5px;'>
			<div class="accordion-toggle"
				style="display: inline-block; width: 100%">
				<p class="accordion-name-container text-left" style="margin: 0px"
					ng-style="{'color' : getCo(method.result)}">{{method.name}}</p>
				<p class="accordion-name-container text-right" style="margin: 0px"
					ng-style="{'color' : getCo(method.result)}">&nbsp;Skipped:
					{{method.skipped}} Failed: {{getFailError(method)}}</p>
			</div>
			</accordion-heading> <!-- non collapsing header End--> <!-- Content in collapsing Div -->
			<div style="width: {{getMethodContentWidth(method)">
				<table
					ng-repeat="case in method.testcases | orderBy:['result','device','browser'] track by $index"
					ng-style="{'background-color': getBgCo(case.result)}"
					class='panel screenshot-methods-table'>
					<tr>
						<td>{{case.device}} - {{case.browser}}</td>
					</tr>
					<tr
						ng-repeat='screenshot in getNumber(method.screenshotLength) track by $index'>
						<td height='450px' valign='top'><img id='set_method'
							ng-click='setCurrentMethod(method); setSlides(method.testcases, $index, $parent.$index); toggleModal();'
							width='200px'
							ng-src="{{getScreenshotsFromFileName(case.screenshots[$index])}}"></img><br>
						<br></td>
					</tr>
				</table>
			</div>

			<!-- Content in collapsing Div End --> </accordion-group>
		</div>
		<!-- repeated content  End--> </accordion>
	</div>
</div>

<modal-dialog width='100%' id='modal_dialog' toggle='toggleModal()'
	show='modalShown' height='40%'
	style='background-color : transparent;color:white'>
<h1 align='center' class='white'>
	{{currentMethod.name}}</br> {{getCurrentSlideInfo()}}
</h1>
<div class="wrapper" align='center'>
	<ul class="dots">
		<li class="dot screenshot-methods-description" id='dot'
			ng-repeat="slide in slides"><a href="#"
			ng-class="{'active':isCurrentSlideIndex($index)}"
			ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
	</ul>
</div>
<br>
<a class="arrow prev" id='arrow_prev' href="#" ng-click="nextSlide()"></a>
<a class="arrow next" id='arrow_next' href="#" ng-click="prevSlide()"></a>
<div class="container slider">
	<img onmousedown="event.preventDefault" class='slide-img table-m'
		ng-repeat="slide in slides"
		class="slide slide-animation nonDraggableImage"
		ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
		ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide}}">
</div>
</modal-dialog>











