<div class='noselect'>
    <accordion close-others="true">
        <!-- repeated content -->
        <div style='height:100%;margin-top:10px;cursor: pointer;word-break:break-all' id='method_name' ng-repeat="class in CurrentSuite.currentSuite| filter: Utilities.searchField | orderBy:Utilities.sorting:reverse track by $index "
             ng-class='getPanel(class.result)' 
             ng-style="{'background-color': getBgCo(class.result)}"
             >
            <!-- non collapsing header -->
			<h3 ng-style="{'color' : getCo(class.result)}" ng-click="getMethods(class); getAllCasesFromClass(); setState('screenshots.methods')">&nbsp;{{class.name}}</h3>
        </div>
        <!-- repeated content  End-->
    </accordion>
</div>