.suite-info-partial-table{
	margin:0px;
	padding:0px;
	border-collapse: separate;
	border-spacing: 0px 10px;
	width: 100%;
	margin-bottom: -10px;
}

.suite-info-partial-table th:not(:first-child) span{
	cursor:pointer;
}

.suite-partial-name-container{
	font-size: 18px;
	font-weight:normal;
	padding: 10px;
	border: 1px solid;
	cursor:pointer;
}

.suite-partial-name-container p{
	margin: 0px;
}

.suite-partial-name-container td{
	padding-top:10px;
	padding-bottom:10px;
	border-top: 1px solid;
    border-bottom: 1px solid;
}

.suite-partial-name-container td, th:last-child{
	padding-right:10px;
}

.suite-partial-name-container tr{
	border-radius: 4px;
	margin: 10px 0px 10px 0px;
}

.suite-partial-name-container td:first-child{
    -moz-border-radius:4px 0 0 4px;
    -webkit-border-radius:4px 0 0 4px;
    border-left: 1px solid;
}

.suite-partial-name-container td:last-child{
    -moz-border-radius:0 4px 4px 0;
    -webkit-border-radius:0 4px 4px 0;
    border-right: 1px solid;
}

.table-left{
	text-align:left;
}

.table-content-name{
	width: 70%;
}

.table-right{
	text-align: right;
}

.keep-space [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate){
	display: inline !important;
    visibility: hidden;
}

