<div ng-controller="NavCtrl as NavCtrl">
    <accordion id="{{type}}-group" close-others="true">
		<table 
			width='100%'
			id='{{type}}-name' 
			class='suite-info-partial-table' 
			ng-controller="StyleCtrl as style">
          	<thead>
          		<th>
          			<!-- holder for checkbox -->
          		</th>
          		<th class="table-left">
          			<span name="name" ng-click="sortBy('name')">Name</span>
          			<span ng-show="predicate === 'name'" ng-click="sortBy('name')" class="keep-space">
          				<span ng-class="reverseSort ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'" aria-hidden="true" style="font-size:10px"></span>
          			</span>
          		</th>
          		<th class="table-right">
          			<span name="total" ng-click="sortBy('stats.total')">Total</span>
          			<span ng-show="predicate === 'stats.total'" ng-click="sortBy('stats.total')" class="keep-space">
          				<span ng-class="reverseSort ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'" aria-hidden="true" style="font-size:10px"></span>
          			</span>
          		</th>
          		<th class="table-right">
          			<span name="passed" ng-click="sortBy('stats.passed')">Passed</span>
          			<span ng-show="predicate === 'stats.passed'" ng-click="sortBy('stats.passed')" class="keep-space">
          				<span ng-class="reverseSort ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'" aria-hidden="true" style="font-size:10px"></span>
          			</span>
          		</th>
				<th class="table-right">
          			<span name="skipped" ng-click="sortBy('stats.skipped')">Skipped</span>
          			<span ng-show="predicate === 'stats.skipped'" ng-click="sortBy('stats.skipped')" class="keep-space">
          				<span ng-class="reverseSort ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'" aria-hidden="true" style="font-size:10px"></span>
          			</span>
          		</th>
				<th class="table-right">
          			<span name="failed" ng-click="sortBy('stats.totFail')">Failed</span>
          			<span ng-show="predicate === 'stats.totFail'" ng-click="sortBy('stats.totFail')" class="keep-space">
          				<span ng-class="reverseSort ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'" aria-hidden="true" style="font-size:10px"></span>
          			</span>
          		</th>
				<th class="table-right">
          			<span name="runtime" ng-click="sortBy('time')">Runtime</span>
          			<span ng-show="predicate === 'time'" ng-click="sortBy('time')" class="keep-space">
          				<span ng-class="reverseSort ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'" aria-hidden="true" style="font-size:10px"></span>
          			</span>
          		</th>
          	</thead>
			<tbody>
				<tr ng-if="!hideIf(object)"
		           	ng-repeat="object in iterationObject| filter: ctrl.Utilities.searchField | orderBy:predicate:reverseSort track by $index "
		           	ng-style="{'color' : style.getColor(object.result)}"
		           	class="suite-partial-name-container">
		            <td 
		            	class="checkbox-holder checkbox-icon" 
		            	style="color:inherit;" 
		            	ng-style="{'background-color': style.getBgCo(object.result), 'border-color':style.getBorderColor(object.result)}">
		                <icon-checkbox content="object" id='checkbox{{$index}}' ng-if="showCheckBox"></icon-checkbox>
		            </td>
					<td 
						ng-click="loadFunction(object); NavCtrl.setState(toState);loadFunctionTwo(object);"
	                  	id='{{type}}-{{$index}}' 
	                  	class="table-content-name"
	                  	ng-style="{'background-color': style.getBgCo(object.result),'border-color':style.getBorderColor(object.result)}">
						<p id="{{type}}-name-{{$index}}">
		                  	{{object.name}}
						</p>
					</td>
					<td 
						ng-style="{'background-color': style.getBgCo(object.result),'border-color':style.getBorderColor(object.result)}"
						ng-click="loadFunction(object); NavCtrl.setState(toState);loadFunctionTwo(object);">
						<p id="{{type}}-passfail-{{$index}}">
		                   	{{object.stats.total}}
						</p>
					</td>
					<td 
						ng-style="{'background-color': style.getBgCo(object.result),'border-color':style.getBorderColor(object.result)}"
						ng-click="loadFunction(object); NavCtrl.setState(toState);loadFunctionTwo(object);">
						<p id="{{type}}-passfail-{{$index}}">
		                   	{{object.stats.passed}}
						</p>
					</td>
					<td 
						ng-style="{'background-color': style.getBgCo(object.result),'border-color':style.getBorderColor(object.result)}"
						ng-click="loadFunction(object); NavCtrl.setState(toState);loadFunctionTwo(object);">
						<p id="{{type}}-passfail-{{$index}}">
		                   	{{object.stats.skipped}}
						</p>
					</td>
					<td 
						ng-style="{'background-color': style.getBgCo(object.result),'border-color':style.getBorderColor(object.result)}"
						ng-click="loadFunction(object); NavCtrl.setState(toState);loadFunctionTwo(object);">
						<p id="{{type}}-passfail-{{$index}}">
		                   	{{object.stats.totFail}}
						</p>
					</td>
					<td
						ng-style="{'background-color': style.getBgCo(object.result),'border-color':style.getBorderColor(object.result)}"
						ng-click="loadFunction(object); NavCtrl.setState(toState);loadFunctionTwo(object);">
						<p id="{{type}}-runtime-{{$index}}">
		                   	{{style.formatDecimals(object.time)}}
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</accordion>
</div>