<!DOCTYPE html>
<html ng-app="webLog">
<head>
	<link rel="stylesheet" href="/app/components/admin/admin-style.css">
</head>
<body>
<div>
	<p style="font-size:2em">Paths to projects</p>
	<div ng-repeat="path in ctrl.configCompare.reportPaths track by $index" class="row admin-input">
		<div class="col-md-5">
			<input 
				type="text" id="existing-project-path"
				class="form-control tool-tip uneditable-input"
				ng-model="ctrl.configCompare.reportPaths[$index]"
				ng-class="{
					'validate-change': ctrl.isPathChanged($index),
					'validate-new': ctrl.isNewPath($index),
					'validate-remove': ctrl.isToBeRemoved($index)
				}"
				title="Existing project path">
			</input>
		</div>
		<div class="col-md-1" style="width:auto">
			<span
				id="remove-path"
				class="glyphicon glyphicon-remove remove-icon tool-tip" 
				ng-click='ctrl.removePath($index)' 
				title="Tag for removal">
			</span>
		</div>
	</div>
	<div class="row admin-input">
		<div class="col-md-5">
			<input 
				type="text" id="new-project-path"
				class="form-control tool-tip"
				ng-model='ctrl.newPath' 
				placeholder="New project reports path"
				title="Enter complete path to new project reports folder">
			</input>
		</div>
		<div class="col-md-1">
			<button 
				id='add-project'
				class='btn btn-default tool-tip'
				ng-click="ctrl.addPath(ctrl.newPath)"
				title="Tag for adding">
				Add
			</button>
		</div>
		<h4>{{ctrl.readErrorMessage(-1)}}</h4>
	</div>
		<div class="row">
		<div class="col-md-2">
			<button 
				id='save-changes'
				class='btn btn-default'
				ng-click="ctrl.saveChanges()">
				Save changes
			</button>
		</div>
		</div>
</div>

<modal-dialog 
	id='modal-error-dialog' 
	show='ctrl.errorModalShown'
	style='background-color : transparent;color:white' 
	toggle-modal="ctrl.toggleErrorModal()">
	<h1 id='syso-header' align='center'>
		Error messages
	</h1>
	<br/>
	<div class="container slider" style='color:black;font-size:20px;'>
		<div ng-repeat="message in ctrl.errorMessages">
			<pre class="admin-error-msg">{{message.message}}</pre>
		</div>
	</div>
</modal-dialog-sysos>