.admin-input{
	margin-bottom:10px;
}

.admin-error-msg{
	margin-bottom:10px;
}

.validate-change{
	border-color: rgba(237, 236, 18,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(237, 236, 18,.6);
    box-shadow: 0 0 8px rgba(237, 236, 18,.6) !important;
}

.validate-new{
	border-color: rgba(17, 22, 241,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(17, 22, 241,.6);
    box-shadow: 0 0 8px rgba(17, 22, 241,.6) !important;
}

.validate-remove{
    border-color: rgba(239, 18, 18,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(239, 18, 18,.6);
    box-shadow: 0 0 8px rgba(239, 18, 18,.6) !important;
}

.remove-icon {
	cursor:pointer; 
	font-size:2.2em; 
	color:#DC072B;
}