<div id='messages'>
	<div class="table-responsive" style='width:50%;display:inline;float:left;width:47%'>  
	<div align='center'><h4>Most failing devices on each platform in suite:<br><br>{{CurrentSuite.currentSuiteInfo.name}}</h4><br></div>
    <div class="modal-dialog" style='width:90%'>
		<div class="modal-content">
			<div class='modal-header'>
			 		<div ng-repeat='platform in ctrl.DeviceData.existingPlatforms track by $index'><h4 align='center'>Total <span style='text-transform: uppercase'>{{ctrl.DeviceData.platforms[$index]}}</span> Devices:&nbsp;{{ctrl.DeviceData.devices[$index].length}}</h4>
				 		<table class="table">
				  			<thead>
				    			<tr>
				       			<th>#</th>
				       			<th>Device Name</th>
				       			<th>Total Tests</th>
				       			<th>Total Failed</th>
				       			<th>Fail Percentage</th>
				     			</tr>
				   		</thead>
						<tbody>
				     			<tr ng-repeat='platform in ctrl.DeviceData.devices[$index] | orderBy: "-totalFail / -total":true'>
								<td>{{$index+1}}</td>
								<td>{{platform.devicename}}</td>
								<td>{{platform.total}}</td>
								<td>{{platform.totalFail}}</td>
								<td>{{((platform.totalFail / platform.total) * 100) | number:2}}%</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="table-responsive" style='width:50%;display:inline;float:right;width:47%'>
	<div align='center'><h4>Most failing classes in suite:<br><br>{{CurrentSuite.currentSuiteInfo.name}}</h4><br></div>
	<div class="modal-dialog" style='width:90%'>
		<div class="modal-content">
			<div class='modal-header'>
				<div ng-repeat='class in ctrl.DeviceData.classes[0] | limitTo: 1'>
		  			<div ng-if='ctrl.DeviceData.classes.length'><h4 align='center'>Total Test Cases in class {{ctrl.DeviceData.className[0]}}:&nbsp;{{ctrl.DeviceData.classes[0].length}}</h4></div>
		  		</div>      
		  		<table class="table">
		   			<thead>
		     			<tr>
		        			<th>#</th>
		        			<th>Test Case Name</th>
		        			<th>Total Tests</th>
		        			<th>Total Failed</th>
		        			<th>Fail Percentage</th>
		      			</tr>
		    		</thead>
					<tbody>
		      			<tr ng-repeat='class in ctrl.DeviceData.classes[0] | orderBy: "-ratioFail"'>
							<td>{{$index+1}}</td>
							<td>{{class.testcaseName}}</td>
							<td>{{class.total}}</td>
							<td>{{class.fail}}</td>
							<td>{{class.ratioFail | number:2}}%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
</div>