<div id='messages'>
	<div class="form-inline clearfix">
		<div class="pull-right right-padding">
			<form>
				<lable for="dash-max-timestmaps">Max runs</lable>
				<input id="dash-max-timestamps" type="number" class="reports-filter form-control tool-tip reports-filter-input" style="width:175px;margin:0px" ng-model="ctrl.limit">
				<button type="submit" class="btn btn-default" ng-click="ctrl.updatePage()">Update <span class="glyphicon glyphicon-refresh"></span></button>
			</form>
		</div>
	</div>
	<div>  
		<div class="modal-content" ng-style="{'background-color':ctrl.DeviceData.modalColors[0]}">
			<div class='modal-header'>
			 		<div ng-repeat='platform in ctrl.DeviceData.existingPlatforms track by $index'>
			 			<h4 align='center'>Total
			 				<span style='text-transform: uppercase'>
			 					{{ctrl.DeviceData.existingPlatforms[$index]}}
			 				</span>
			 				Devices:&nbsp;{{ctrl.DeviceData.devices[$index].length}}
			 			</h4>
				 		<table class="table table-dash">
				  			<thead>
				    			<tr>
				       			<th>#</th>
				       			<th>Device Name</th>
				       			<th>Total Tests</th>
				       			<th>Total Failed</th>
				       			<th>Fail Percentage</th>
				     			</tr>
				   		</thead>
						<tbody>
				     			<tr ng-repeat='platform in ctrl.DeviceData.devices[$index] | orderBy: "-totalFail / -total":true'>
								<td>{{$index+1}}</td>
								<td>{{platform.devicename}}</td>
								<td>{{platform.total}}</td>
								<td>{{platform.totalFail}}</td>
								<td>{{((platform.totalFail / platform.total) * 100) | number:2}}%</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="modal-content" ng-style="{'background-color':ctrl.DeviceData.modalColors[1]}">
			<div class='modal-header'>
				<h4 align='center'>Most failing tests</h4>
		  		<table class="table table-dash">
		   			<thead>
		     			<tr>
		        			<th>#</th>
		        			<th>Test Case Name</th>
		        			<th>Total Tests</th>
		        			<th>Total Failed</th>
		        			<th>Fail Percentage</th>
		        			<th>Last Failure</th>
		      			</tr>
		    		</thead>
					<tbody>
		      			<tr ng-repeat='class in ctrl.DeviceData.classes[0] | orderBy: "-ratioFail"'>
							<td class='table-td-hash-width'>{{$index+1}}</td>
							<td>{{class.testcaseName}}</td>
							<td>{{class.total}}</td>
							<td>{{class.fail}}</td>
							<td>{{class.ratioFail | number:2}}%</td>
							<td>
								<div ng-if='ctrl.DeviceData.lastFail[$index] === 0'>This run</div>
								<div ng-if='ctrl.DeviceData.lastFail[$index] !== 0'>{{ctrl.DeviceData.lastFail[$index]}} runs ago</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="modal-content" ng-style="{'background-color':ctrl.DeviceData.modalColors[1]}">
			<div class='modal-header'>
				<h4 align='center'>Test by stability</h4>
		  		<table class="table table-dash">
		   			<thead>
		     			<tr>
		        			<th>#</th>
		        			<th class="clickable" ng-click="ctrl.methodPassOrder='classname'; ctrl.methodPassReverse=!ctrl.methodPassReverse">Class <span class="glyphicon glyphicon-sort"></span></th>
		        			<th class="clickable" ng-click="ctrl.methodPassOrder='methodname'; ctrl.methodPassReverse=!ctrl.methodPassReverse">Method <span class="glyphicon glyphicon-sort"></span></th>
		        			<th class="clickable" ng-click="ctrl.methodPassOrder='averagepass'; ctrl.methodPassReverse=!ctrl.methodPassReverse">Average pass <span class="glyphicon glyphicon-sort"></span></th>
		      			</tr>
		    		</thead>
					<tbody>
		      			<tr ng-repeat='method in ctrl.methodPass | orderBy:ctrl.methodPassOrder:ctrl.methodPassReverse track by $index'>
							<td class='table-td-hash-width'>{{$index+1}}</td>
							<td>{{method.classname}}</td>
							<td>{{method.methodname}}</td>
							<td>{{method.averagepass | number}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="modal-content" ng-style="{'background-color':ctrl.DeviceData.modalColors[1]}">
			<div class='modal-header'>
				<h4 align='center'>RMDocs files</h4>
		  		<div>
		  			<table class="table">
		  				<tr>
		  					<td>
				  				<p>Download last run as RMDocs filter file, where all test need to have 100% pass</p>
		  					</td>
		  					<td>
					  			<button type="button" ng-click="ctrl.lastRunRMDocs(1,100,true)">Download</button>
		  					</td>
		  				</tr>
		  			</table>
		  		</div>
			</div>
		</div>
	</div>
</div>