<div id='messages'>
	<div class='modal-container'>  
		<div class="modal-content" ng-style="{'background-color':ctrl.DeviceData.modalColors[0]}">
			<div class='modal-header'>
			 		<div ng-repeat='platform in ctrl.DeviceData.existingPlatforms track by $index'>
			 			<h4 align='center'>Total
			 				<span style='text-transform: uppercase'>
			 					{{ctrl.DeviceData.existingPlatforms[$index]}}
			 				</span>
			 				Devices:&nbsp;{{ctrl.DeviceData.devices[$index].length}}
			 			</h4>
				 		<table class="table table-dash">
				  			<thead>
				    			<tr>
				       			<th>#</th>
				       			<th>Device Name</th>
				       			<th>Total Tests</th>
				       			<th>Total Failed</th>
				       			<th>Fail Percentage</th>
				     			</tr>
				   		</thead>
						<tbody>
				     			<tr ng-repeat='platform in ctrl.DeviceData.devices[$index] | orderBy: "-totalFail / -total":true'>
								<td>{{$index+1}}</td>
								<td>{{platform.devicename}}</td>
								<td>{{platform.total}}</td>
								<td>{{platform.totalFail}}</td>
								<td>{{((platform.totalFail / platform.total) * 100) | number:2}}%</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<div class='modal-container'>
		<div class="modal-content" ng-style="{'background-color':ctrl.DeviceData.modalColors[1]}">
			<div class='modal-header'>
				<div ng-repeat='class in ctrl.DeviceData.classes[0] | limitTo: 1'>
		  			<div ng-if='ctrl.DeviceData.classes.length'></div>      
			  		<table class="table table-dash">
			   			<thead>
			     			<tr>
			        			<th>#</th>
			        			<th>Test Case Name</th>
			        			<th>Total Tests</th>
			        			<th>Total Failed</th>
			        			<th>Fail Percentage</th>
			        			<th>Last Failure</th>
			      			</tr>
			    		</thead>
						<tbody>
			      			<tr ng-repeat='class in ctrl.DeviceData.classes[0] | orderBy: "-ratioFail"'>
								<td class='table-td-hash-width'>{{$index+1}}</td>
								<td>{{class.testcaseName}}</td>
								<td>{{class.total}}</td>
								<td>{{class.fail}}</td>
								<td>{{class.ratioFail | number:2}}%</td>
								<td>
									<div ng-if='ctrl.DeviceData.lastFail[$index] === 0'>This run</div>
									<div ng-if='ctrl.DeviceData.lastFail[$index] !== 0'>{{ctrl.DeviceData.lastFail[$index]}} runs ago</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class='modal-container'>
		<div class="modal-content" ng-style="{'background-color':ctrl.DeviceData.modalColors[1]}">
			<div class='modal-header'>
				<div ng-repeat='class in ctrl.DeviceData.classes[0] | limitTo: 1'>
		  			<div ng-if='ctrl.DeviceData.classes.length'></div>      
			  		<table class="table table-dash">
			   			<thead>
			     			<tr>
			        			<th>#</th>
			        			<th>Test Case Name</th>
			        			<th>Total Tests</th>
			        			<th>Total Failed</th>
			        			<th>Fail Percentage</th>
			        			<th>Last Failure</th>
			      			</tr>
			    		</thead>
						<tbody>
			      			<tr ng-repeat='class in ctrl.DeviceData.classes[0] | orderBy: "-ratioFail"'>
								<td class='table-td-hash-width'>{{$index+1}}</td>
								<td>{{class.testcaseName}}</td>
								<td>{{class.total}}</td>
								<td>{{class.fail}}</td>
								<td>{{class.ratioFail | number:2}}%</td>
								<td>
									<div ng-if='ctrl.DeviceData.lastFail[$index] === 0'>This run</div>
									<div ng-if='ctrl.DeviceData.lastFail[$index] !== 0'>{{ctrl.DeviceData.lastFail[$index]}} runs ago</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>