<!DOCTYPE html>
<html ng-app="webLog">
<head>
<meta charset="UTF-8">
<title>Redmind Reports</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
<!-- Custom style sheet -->
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/modal.css">
<link rel="stylesheet" href="assets/css/slider.css">
<link rel="shortcut icon" href="assets/img/logos/favicon.ico" />
</head>
<body class='noselect'>
	<div ng-controller="StyleCtrl">
		<div ng-controller="NavCtrl">
			<div class='triangle-overlay'>
				<img src='assets/img/logos/triangle.png'></img>
			</div>
			<nav class="navbar navbar-default" style='position:fixed;top:0;width:100%;z-index:9999'>
				<div class="navbar-header" style='padding: 0;'>
					<!-- Brand and toggle get grouped for better mobile display -->


					<button type="button" 
						style='float: left'>
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
						
					
					</div>
					
					<!-- /.navbar-collapse -->
				
				<!-- /.container-fluid -->
			<!-- div ng-controller='NavBarCtrl' id="navbarCollapse" class="collapse navbar-collapse" -->
			<div ng-controller='NavBarCtrl'>
							<ul class="nav nav-tabs" class='nav-tab-style'
								style='border: none;position:fixed;top:0'>
								<a id='home' ng-href="#/"><img style="margin:10px 50px 0px 10px"
						src='assets/img/logos/logo.png' class='home'></img></a>
								<li id='dash' class='dash' role="presentation"
									ng-class="{'active': isActive('home')}"><a id='dash_view'
									href='' ng-click="goToDashboardView();"
									ng-style="{'color': getNavColor('home')}"> Dashboard </a>
								</li>
								<li id='reports' class='reports' role="presentation"
									ng-class="{'disabled': !isNavActive('reports', 'screenshots'),'active': isActive('reports')}"
									ng-class=""><a id='reports_view' href=''
									ng-click="goToGraphView()"
									ng-style="{'color': getNavColor('reports')}"> Reports </a>
								</li>
								<li id='visual' class='visual' role="presentation"
									ng-class="{'disabled': !isNavActive('reports', 'screenshots'),'active': isActive('screenshots')}"><a
									id='visual_view' href='' ng-click="goToScreenshotView()"
									ng-style="{'color': getNavColor('screenshots')}">
										Visualizer </a></li>
								<li id='grid' class='grid' role="presentation"
									ng-class="{'active': isActive('grid')}"><a id='grid_view'
									href='' ng-click="goToGridView()"
									ng-style="{'color': getNavColor('grid')}"> Grid </a>
								</li>
								<li id='grid' class='grid' role="presentation"
									ng-class="{'active': isActive('admin')}"><a id='grid_view'
									href='' ng-click="setState('admin');"
									ng-style="{'color': getNavColor('admin')}"> Admin </a>
								</li>   
								<li class="dropdown" style='cursor:pointer;'><a data-toggle="dropdown"
									class="dropdown-toggle" style='color: inherit;'>{{chooseProject()}}<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li style='width:100%' ng-repeat='suite in CurrentSuite.allSuites track by $index'><a href="#" ng-click="Utilities.clearData(suite.lastTimeStamp);
									loadMainChart(suite.id, 'true', 'Aggregation');
	                                getSuiteSkeleton(suite)">{{suite.name}}</a></li>
									</ul>	
								</li>
								<li ng-if='CurrentSuite.currentSuite.length > 0' class="dropdown" style='cursor:pointer;'><a data-toggle="dropdown"
									class="dropdown-toggle" style='color: inherit;'>{{CurrentSuite.currentTimeStamp}}<b class="caret"></b></a>
									<ul class="dropdown-menu scrollable-menu">
										<li style='width:100%' ng-repeat="timestamp in Utilities.descTimestamps"><a ng-click="getSuiteSkeletonByTimestamp(timestamp); highlightPoint(timestamp)" href="#">{{timestamp}}</a></li>
									</ul>
								</li>
							</ul>
						</div>
						</nav>
			<div class="container container-fluid"
				style="margin-bottom: 100px; margin-top: 57px">
				<div ui-view></div>
			</div>
			</div>
		</div>
	</div>
	<script src="assets/libs/jquery.js"></script>
	<script src="assets/libs/angular-1.3.10/angular.min.js"></script>
	<script src="assets/libs/bootstrap.min.js"></script>
	<script src="assets/libs/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
	<script src="assets/libs/angular-ui-router.js"></script>
	<script src="assets/libs/highcharts.js"></script>
	<script src="assets/libs/highcharts-ng.js"></script>
	<script src="assets/libs/angular-1.3.10/angular-animate.min.js"></script>
	<script src="assets/libs/angular-1.3.10/angular-touch.min.js"></script>
	<script src="assets/libs/TweenMax.min.js"></script>
	<script src="app/app.js"></script>
	<script src="app/shared/factories/current-suite.js"></script>
	<script src="app/shared/factories/screenshot-master.js"></script>
	<script src="app/shared/factories/charts.js"></script>
	<script src="app/shared/factories/polling.js"></script>
	<script src="app/shared/factories/utilities.js"></script>
	<script src="app/shared/controllers/style-controller.js"></script>
	<script src="app/shared/controllers/navigation-controller.js"></script>
	<script src="app/shared/services/rest-loader-service.js"></script>
	<script src="app/shared/directives/tooltip-directive.js"></script>
	<script src="app/shared/directives/stop-click.js"></script>
	<script src="app/shared/directives/modal-directive.js"></script>
	<script src="app/shared/directives/modal-directive-sysos.js"></script>
	<script src="app/shared/directives/check-image.js"></script>
	<script src="app/components/graph/chart-maker-service.js"></script>
	<script src="app/components/graph/graph-controller.js"></script>
	<script src="app/components/suite-info/suite-info-controller.js"></script>
	<script src="app/components/dashboard/dashboard-controller.js"></script>
	<script src="app/components/screenshots/screenshot-controller.js"></script>
	<script src="app/components/grid/grid-data.js"></script>
	<script src="app/components/grid/grid-controller.js"></script>
	<script src="app/components/grid/ratio-keeper.js"></script>
	<script src="app/components/navbar/navbar-controller.js"></script>
	<script src="app/components/admin/admin-controller.js"></script>
	

</body>
</html>