<accordion close-others="true">

    <!-- repeated content -->
    <div ng-repeat="case in CurrentSuite.currentCases| filter: Utilities.searchField | orderBy:Utilities.caseSorting:reverse track by $index">
        <accordion-group style='margin-top:10px' ng-class='getPanel(case.result)' ng-style="{'background-color': getBgCo(case.result)}">
            <!-- non collapsing header -->
            <accordion-heading id='case_name'>
	            <div class="accordion-toggle">
	                <button id="case-thistest-{{$index}}" style='width:120px' id='thistestonly' ng-class='getButton(case.result)' ng-click="addCaseToGraph(case.osname, case.osversion, case.devicename, case.browsername, case.browserversion); $event.preventDefault(); $event.stopPropagation();">
	                	This test only
	                </button>&nbsp;
	                <div id="case-name-{{$index}}" style='display:inline' class='accordion-name-container'>
	                    {{case.osname}} - {{case.devicename}} -	{{case.osversion}} - {{case.browsername}} {{case.timestamp}}
	                </div>
	                <div id="case-runtime-{{$index}}" class="accordion-name-container" style='float:right'>
						{{case.timetorun}}
	                </div>
				</div>
            </accordion-heading>
            <!-- non collapsing header End-->

            <!-- Content in collapsing Div -->
                        <pre class="select stack-trace" ng-if="case.message !== ''">{{case.message}}</pre>
                        <pre class="stack-trace" ng-if="case.message === ''">No Message To Display</pre>
            <!-- Content in collapsing Div End -->

        </accordion-group>
    </div>
    <!-- repeated content  End-->
</accordion>