<!DOCTYPE html> 
<html ng-app="webLog">
<head>
	<link href="app/components/suite-info/suite-info-style.css" rel="stylesheet">
</head>
<body>

<div class="accordion-center-container">
	<div class="accordion-center-left">
		<div class="accordion-quarter">
			<span name="pass-fail" ng-click="ctrl.sortBy('Pass / Fail')">Pass / Fail</span>
			<span ng-show="ctrl.sorting === 'Pass / Fail'" ng-click="ctrl.sortBy('Pass / Fail')" class="keep-space">
   				<span ng-class="ctrl.reverseSorting ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'" aria-hidden="true" style="font-size:12px"></span>
   			</span>
		</div>
		<div class="accordion-quarter">
			<span name="platform" ng-click="ctrl.sortBy('Platform')">Platform</span>
			<span ng-show="ctrl.sorting === 'Platform'" ng-click="ctrl.sortBy('Platform')" class="keep-space">
				<span ng-class="ctrl.reverseSorting ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'" aria-hidden="true" style="font-size:12px"></span>
   			</span>
		</div>
		<div class="accordion-quarter">
			<span name="device" ng-click="ctrl.sortBy('Device')">Device</span>
			<span ng-show="ctrl.sorting === 'Device'" ng-click="ctrl.sortBy('Device')" class="keep-space">
				<span ng-class="ctrl.reverseSorting ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'" aria-hidden="true" style="font-size:12px"></span>
   			</span>
		</div>
		<div class="accordion-quarter">
			<span name="browser" ng-click="ctrl.sortBy('Browser')">Browser</span>
			<span ng-show="ctrl.sorting === 'Browser'" ng-click="ctrl.sortBy('Browser')" class="keep-space">
				<span ng-class="ctrl.reverseSorting ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'" aria-hidden="true" style="font-size:12px"></span>
   			</span>
		</div>
	</div>
	<div class="accordion-center-right">
			<span name="runtime" ng-click="ctrl.sortBy('Runtime')">Runtime</span>
			<span ng-show="ctrl.sorting === 'Runtime'" ng-click="ctrl.sortBy('Runtime')" class="keep-space">
				<span ng-class="ctrl.reverseSorting ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'" aria-hidden="true" style="font-size:12px"></span>
   			</span>
	</div>
</div>

<accordion id="case-group" close-others="true">
    <div ng-repeat="case in CurrentSuite.currentCases| filter: Utilities.searchField | orderBy:ctrl.getOrder():ctrl.reverseSorting track by $index">
        <accordion-group 
        	style='margin-top:10px' 
        	ng-class='style.getPanel(case.result)' 
        	ng-style="{'background-color': style.getBgCo(case.result)}">
            <accordion-heading id='case_name'>
	            <div id="case-{{$index}}" class="accordion-toggle">
	            
	 				<!-- Button for "this test" -->           
	                <button 
	                	id="case-thistest-{{$index}}" 
	                	class="this-test-button"
	                	ng-class='style.getButton(case.result)' 
	                	ng-click="ctrl.addCaseToGraph(case.osname, case.osversion, case.devicename, case.browsername, case.browserversion); 
	                			$event.preventDefault(); 
	                			$event.stopPropagation();">
	                	This test only
	                </button>
	                
	                <!-- Case info -->
	                <div 
	                	id="case-name-{{$index}}" 
	                	style='display:inline' 
	                	class='accordion-name-container'>
	                    {{case.osname}} - {{case.osversion}} - {{case.devicename}} - {{case.browsername}} - {{case.result}}
	                </div>
	                
	                <!-- Run time -->
	                <div 
	                	id="case-runtime-{{$index}}" 
	                	class="accordion-name-container" 
	                	style='float:right'>
						{{case.timetorun}}
	                </div>
				</div>
            </accordion-heading>
            
            <!-- Message container -->
            <div ng-if="case.result === 'failure' || case.result === 'error'">
	            <pre class="select stack-trace" ng-if="case.message !== ''">{{case.message}}</pre>
	            <pre class="stack-trace" ng-if="case.message === ''">No message to display</pre>
            </div>
            <pre class="stack-trace" ng-if="case.result === 'passed'">This test passed</pre>
            <pre class="stack-trace" ng-if="case.result === 'skipped'">This test was skipped or ignored</pre>
        </accordion-group>
    </div>
</accordion>
</body>
</html>
