<div>
    <accordion id="class-group" close-others="true">
        <!-- repeated content -->
        <div class='class-method-container' style="margin-top:10px" id='class-name' ng-repeat="class in CurrentSuite.currentSuite| filter: Utilities.searchField | orderBy:Utilities.sorting:reverse track by $index "
             ng-class='getPanel(class.result)' 
             ng-style="{'background-color': getBgCo(class.result)}">
            <!-- non collapsing header -->
            <table width='100%'>
                <tr>
                    <td class="checkbox-holder">
                        <icon-checkbox content="class" id='checkbox{{$index}}' ></icon-checkbox>					                    
                    </td>
                    <td id='class-{{$index}}' ng-click="getMethods(class); setState('reports.methods');" ng-style="{'color' : getCo(class.result)}" class="icon-checkbox-guard">
                        <p id="class-name-{{$index}}" class="accordion-name-container text-left">{{class.name}}</p>
                        <p id="class-runtime-{{$index}}" class="accordion-name-container text-right">&nbsp;&nbsp;{{formatDecimals(class.time)}}</p>
                        <p id="class-passfail-{{$index}}" class="accordion-name-container text-right">Skipped: {{class.stats.skipped}} Failed: {{class.stats.totFail}}</p>
                    </td>
                </tr>
            </table>
        </div>
        <!-- repeated content  End-->
    </accordion>
</div>