#class-method-option-container {
    width:100%;
    text-align:center;
    min-width:505px;
}

#class-method-option-left {
    float:left;
    margin-top:15px;
}

#class-method-option-center {
    display: inline-block;
    margin:0 auto;
}

#class-method-option-right {
    float:right;
	margin-top:15px;
}

.input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: top;
    position: relative;
    *top: 1px;
    *overflow: hidden;
}
.label {
    display: block;
    padding: 0;
    padding-left: 15px;
    text-indent: -15px;
    border: 0px solid;
    margin-left: 5px;
    vertical-align: top;
}

.accordion-center-container{
	margin-top:10px;
	font-weight: bold;
	overflow:auto;
}

.accordion-center-left{
	padding-left:10px;
	display: inline;
	float:left;
	width:50%;
}

.accordion-center-left div{
	display:inline;
}

.accordion-quarter{
	style:width:25%;
	margin-right:60px;
}

.accordion-quarter span{
	cursor:pointer;
}

.keep-space [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate){
	display: inline !important;
    visibility: hidden;
}

.accordion-center-center{
	display: inline;
	float:left;
	width:33.3%;
	text-align:center;
}

.accordion-center-right{
	padding-right:10px;
	display: inline;
	float:right;
	width:50%;
	text-align:right;
}

.accordion-center-right span{
	cursor:pointer;
}