#class-method-option-container {
    width:100%;
    text-align:center;
    min-width:505px;
}

#class-method-option-left {
    float:left;
}

#class-method-option-center {
    display: inline-block;
    margin:0 auto;
}

#class-method-option-right {
    float:right;
}

.input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: top;
    position: relative;
    *top: 1px;
    *overflow: hidden;
}
.label {
    display: block;
    padding: 0;
    padding-left: 15px;
    text-indent: -15px;
    border: 0px solid;
    margin-left: 5px;
    vertical-align: top;
}