<div ng-controller="ScreenshotModalCtrl as ModalCtrl">
<div class="screenshot-nav-container screenshot-center-container">
	<div class="screenshot-center-left">
		<span 
			id='syso-header' 
			style='cursor:pointer;' 
			ng-click='ctrl.toggleConsoleModal();'>
			Console prints
		</span>
	</div>
	<div class="screenshot-center-center">
		<h4 style="display:inline">
			{{style.removePackagePath(CurrentSuite.currentClass.name)}}
		</h4>
	</div>
	<div class="screenshot-center-right">
	</div>
</div>

<div>
	<h3 ng-if="ctrl.noScreenshotsExists()" style="text-align:center">
		No screenshots taken in this build
	</h3>

	<accordion close-others="false">
	    <div 
	    	ng-if="ctrl.containsScreenshots(method)" 
	    	class='noselect' 
	    	ng-repeat="method in ctrl.ScreenshotMaster.data | orderBy:['-stats.totFail','result','name']">
	        <accordion-group style="margin-top:10px;padding:0px;background-color:#F8F8F8" ng-class='style.getPanel(method.result)' >
	            <accordion-heading>
					<div id='method-{{$index}}' class="accordion-toggle" style="display:inline-block;width:100%">
						<p 
							class="accordion-name-container text-left" 
							style="margin:0px" 
							ng-style="{'color' : style.getColor(method.result)}">
							{{method.name}}&nbsp;&nbsp;Screenshots: {{method.screenshotLength}}
						</p>
						<p 
							class="accordion-name-container text-right" 
							style="margin:0px" ng-style="{'color' : style.getColor(method.result)}">
							&nbsp;Skipped: {{method.skipped}} Failed: {{method.stats.totFail}}
						</p>
          				</div>
	            </accordion-heading>
	            
	            <div 
	            	ng-if="method.screenshotLength > 0" 
	            	style="width:{{ctrl.getMethodContentWidth(method)}}px;" 
	            	class="screenshot-view">
					<table style="margin-top:5px; margin-bottom:5px;border-collapse: separate;border-spacing: 10px 0px;">
						<tr class="normal-padding-td">
							<td 
								id="screenshot-header-{{$index}}"
								ng-repeat="case in method.testcases track by $index" 
								ng-style="{'background-color': style.getBgCo(case.result)}" 
								class='panel screenshot-td screenshot-background-top'>
								<h4>{{case.device}} - {{case.browser}}</h4>
							</td>
						</tr>
						<tr 
							ng-repeat="screenshot in ctrl.makeArray(method.screenshotLength) track by $index" 
							ng-init="screenshotIndex = $index">
							<td 
								ng-repeat="case in method.testcases" 
								style="vertical-align:top;" 
								ng-style="{'background-color': style.getBgCo(case.result)}" 
								ng-class="ModalCtrl.isLastIndex(screenshotIndex, method.screenshotLength) ? 'screenshot-background-bot': 'screenshot-background-mid'">
								<p 
									style='margin-left:5px;margin-bottom:-2px' 
									ng-if='case.screenshots[screenshotIndex] !== undefined'>
									{{ctrl.getScreenshotOrder(case.screenshots[screenshotIndex])}}
								</p>
								<div ng-if="case.screenshots[screenshotIndex] !== undefined">
									{{ctrl.getCommentFromFileName(case.screenshots[screenshotIndex])}}
								</div>
								<div class="screenshot-img-container">
									<img 
										id='screenshot{{screenshotIndex}}-{{$index}}' 
										ng-click='ModalCtrl.setCurrentMethod(method); 
												ModalCtrl.setSlides(method.testcases, $index, screenshotIndex); 
												ctrl.toggleScreenshotModal();'
										width='200px' 
										ng-src="{{ctrl.ScreenshotMaster.getScreenshotsFromFileName(case.screenshots[screenshotIndex])}}"/>
								</div>
									
									<br>
									<br>
							</td>
						</tr>
					</table>
				</div>
	        </accordion-group>
	    </div>
	</accordion>
</div>


<!-- Screeshot modal -->
	<modal-dialog 
		id='modal-screenshot-dialog' 
		show='ctrl.screenshotModalShown'
		style='background-color : transparent;color:white' 
		toggle-modal="ctrl.toggleScreenshotModal()">
			<div>
			<h1 align='center' class='white'>
				{{ModalCtrl.currentMethod.name}}
				<br/>
				{{ModalCtrl.getCurrentSlideInfo()}}
			</h1>
			</div>
			<div class="wrapper" align='center'>
				<ul class="dots">
					<li 
						id='dot' 
						class="dot screenshot-methods-description" 
						ng-repeat="slide in ModalCtrl.slides track by $index">
						<a 
							href="#"
							ng-class="{'active':ModalCtrl.isCurrentSlideIndex($index)}"
							ng-click="ModalCtrl.setCurrentSlideIndex($index);">
							{{slide.description}}
						</a>
					</li>
				</ul>
			</div>
		<br>
		<div class="container2" style='width:100%'>
			<a 
				id='arrow_prev' 
				class="arrow prev" 
				href="#" 
				ng-click="ModalCtrl.nextSlide()">
			</a>
			<a 
				id='arrow_next' 
				class="arrow next"
				href="#" 
				ng-click="ModalCtrl.prevSlide()">
			</a>
		</div>
		<div class="container slider">
			<img 
				onmousedown="event.preventDefault" 
				ng-repeat="slide in ModalCtrl.slides"
				class="slide slide-animation nonDraggableImage slide-img table-m"
				ng-swipe-right="ModalCtrl.nextSlide()" 
				ng-swipe-left="ModalCtrl.prevSlide()"
				ng-hide="!ModalCtrl.isCurrentSlideIndex($index)" 
				ng-src="{{slide}}"/>
				{{ModalCtrl.slides}}test
		</div>
	</modal-dialog>
	
	<!-- Console print modal -->
	<modal-dialog 
		id='modal-console-dialog' 
		show='ctrl.consoleModalShown'
		style='background-color : transparent;color:white' 
		toggle-modal="ctrl.toggleConsoleModal()">
		<h1 id='syso-header' align='center'>
			Console prints
		</h1>
		<br/>
		<div class="container slider" style='color:black;font-size:20px;'>
			<table align='center' style='margin-top:20px'>
				<tr>
					<td style='text-align:left'>
						<pre>{{ctrl.ScreenshotMaster.consolePrint}}</pre>
					</td>
				</tr>
			</table>
		</div>
	</modal-dialog-sysos>
</div>