.screenshot-nav-container{
	width:100%;
    text-align:center;
}

.screenshot-nav-left{
	float:left;
    bottom:10px;
}

.screenshot-nav-center{
	-webkit-transform: translate(-50%, 0); 
	display: inline-block;
    margin:0 auto;
}

.screenshot-nav-right {
    float:right;
    bottom: 10px;
}

.accordion-name-container{
	margin-top:10px;
	margin-bottom:10px;
	font-size: 18px;
	font-weight:normal;
	cursor:pointer;
}

.text-left{
	float:left;
	display: inline;
	margin:0px;
}

.text-right{
	float:right;
	display: inline;
	margin:0px;
}

.screenshot-view{
 padding:5px;
}

.screenshot-methods-table{
	display:inline-block;
	padding:10px;
	margin:5px;
}

.screenshot-methods-description{
	top: 0px;
	display:inline-block;
}

.slide-img{
	width: 800px;
}

.view{
	margin-left: 10px;
	font-size: 20px;
	position:responsive;
	float:left;
	margin-top:15px;
	margin-bottom:0px;
}

.no-screenshot{
	margin-left:10px; 
	margin-top:10px;
}

.screenshot-td{
	margin-left:5px; 
	margin-right:5px
}

.screenshot-table{
	margin-top:5px;
	margin-bottom:5px;
	border-collapse: separate;
	border-spacing: 10px 0px;
}

.modal-dialog{
	background-color : transparent;
	color:white;
}

.screenshot-img-container{
	max-width: 200px;
	vertical-align:top;
	max-height: 270px;
	overflow: auto;
}

.screenshot-container{
	height: 100%;
	cursor: pointer;
	word-break: break-all;
	margin: 0px;
	margin-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;
}

.screenshot-view{
 padding:5px;
}

.screenshot-class-display{
	margin-top:10px;
	padding-left:10px;
	padding-right:10px;
	cursor:pointer;
}

.screenshot-nav{
	cursor:pointer;
	margin-top:0px;
	margin-bottom:0px;
}

.accordion-name-container{
	margin-top:10px;
	margin-bottom:10px;
	font-size: 18px;
	font-weight:normal;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 80px;
}

.panel-group{
	width:100%;
	margin-bottom:0px;
}

.stack-trace{
	margin:0px;
}

.screenshot-nav-container{
	width:100%;
    text-align:center;
}

.screenshot-nav-left{
	float:left;
    bottom:10px;
}

.screenshot-nav-center{
	-webkit-transform: translate(-50%, 0); 
	display: inline-block;
    margin:0 auto;
}

.screenshot-nav-right {
    float:right;
    bottom: 10px;
}

.screenshot-background-top{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.screenshot-background-mid{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom-left-radius: 0px !important; 
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 0px !important; 
	border-top-right-radius: 0px !important;
}

.screenshot-background-bot{
	padding:10px;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}

.accordion-toggle{
	padding-top:10px;
	padding-bottom:10px;
}