<div>
	<img
	check-image ng-src="{{Utilities.getSuiteLogo(CurrentSuite.currentSuiteInfo.name)}}"
	style="cursor: pointer" class='image-paths'
	ng-click="setState('home')"></img>
	
				<div class="btn-group" ng-controller = "SuiteInfoCtrl" style="float:right">
				<h5 class='reports-h5'>Choose timestamp to load</h5>
				<button style='width: 175px' id='choose_timestamp'
					class="btn btn-default dropdown-toggle" type="button"
					id="suite-dropdown" data-toggle="dropdown" aria-expanded="true"
					title="Select suite run to display">
					{{CurrentSuite.currentTimeStamp}} <span class="caret"></span>
				</button>
				<ul id='choose_timestamp_drop' class="dropdown-menu scrollable-menu" ng-controller = "GraphCtrl">
					<li id='timestamp_{{$index}}' ng-repeat="timestamp in Utilities.descTimestamps">
						<a ng-click="getSuiteSkeletonByTimestamp(timestamp); highlightPoint(timestamp); getScreenshotsFromTimestamp(timestamp)" style="cursor:pointer">
							{{timestamp}} 
						</a>
					</li>
				</ul>
			</div>
			<br><br>
	<div ui-view></div>
</div>