<html ng-app="webLog">
<head>
	<link href="app/components/screenshots/screenshots-style.css" rel="stylesheet">
</head>
<body>
	<div class="screenshot-nav-container">
	<!-- Current possition -->
		<h4 class="screenshot-nav" style="margin-bottom:-10px">
			{{CurrentSuite.currentSuiteInfo.name}}
		</h4>
	</div>

<suite-info-partial 
	iteration-object="CurrentSuite.currentSuite" 
	to-state="'screenshots.methods'" 
	type="'class'"
	load-function="ctrl.getMethods"
	load-function-two="loadScreenshotsFromClass">
</suite-info-partial>
</body>
</html>
