<div>
	<div>
		<div class='desktop'>
			<h3>Desktop</h3>
			<div class='box'>
				<div class='desc'>
					Webdriver<br>
					PC<br>
					Windows<br>
					Firefox<br>
					Chrome
				</div>
				<img src='assets/img/logos/console/windows.png' class='logo'></img>
			</div>
			<div class='box'>
				<div class='desc'>
					Webdriver<br>
					MAC<br>
					OSX<br>
					Firefox<br>
					Chrome
				</div>
				<img src='assets/img/logos/console/apple_mac.png' class='logo'></img>
			</div>
		</div>
		<br>
		<div class='device'>
			<h3>Device</h3>
			<div class='box'>
				<div class='desc'>
					Appium<br>
					iPhone 6<br>
					iOS<br>
					Safari<br>
					Chrome
				</div>
				<img src='assets/img/logos/console/apple_device.png' class='logo'></img>
			</div>
			<div class='box'>
				<div class='desc'>
					Appium<br>
					Galaxy S6<br>
					iOS<br>
					Safari<br>
					Chrome
				</div>
				<img src='assets/img/logos/console/android.png' class='logo'></img>
			</div>
		</div>
	</div>
	<div ui-view></div>
</div>