<accordion close-others="true">

	<!-- repeated content -->
	<div ng-repeat="case in CurrentSuite.currentDriverRuns | filter: Utilities.searchField | orderBy:['passed', 'name'] track by $index " style='margin-top: 10px'>
	    <accordion-group ng-class='getPanel(case.result)' ng-style="{'background-color': getBgCo(case.result)}">
	    
	    <!-- non collapsing header -->
	        <accordion-heading>
	            {{case.timestamp}}
	        </accordion-heading>
	    <!-- non collapsing header End-->
	    
	    <!-- Content in collapsing Div -->
		<div ng-class='getBG(case.result)'>
			<table class="table">
			    <thead>
			        <tr style='border-style: hidden'>
			            <th>Method name</th>
			            <th>Time to run</th>
			            <th>Result</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>{{CurrentSuite.currentMethod.name}}</td>
			            <td>{{case.time}}</td>
			            <td>{{case.result}}</td>
			        </tr>
			    </tbody>
		    </table>
		    
		    <accordion ng-if="case.message.length > 2" close others="true">
			    <accordion-group ng-class='getPanel(case.result)' ng-style="{'background-color': getBgCo(case.result)}">
					<accordion-heading>
						Display Error Message
		        	</accordion-heading>
		            
			            <pre>{{case.message}}</pre>
			    </accordion-group>
		    </accordion>
			            
			            
			            
			            
	    </div>
	    <!-- Content in collapsing Div End -->
	    
	    </accordion-group>
	</div>
	<!-- repeated content  End-->
</accordion>