<accordion close-others="true">
	<!-- repeated content -->
	<div ng-repeat="class in CurrentSuite.currentSuite | filter: SearchField.text track by $index " 
		style='cursor: pointer;margin-top: 10px' 
		ng-class='getPanel(class.result)' 
		ng-style="{'background-color': getBgCo(class.result)}">
	
	        <div ng-style="{'color' : getCo(class.result)}">	        		
	        		<label for="mycheckbox"></label><input type="checkbox" id="mycheckbox" ng-model="class.chosen" ng-click="">
	        		<h3 style='margin-top: -10px;overflow:hidden;' ng-click="getMethods(class); goToMethods(); resetFilterField()">{{class.name}}</h3>
	        </div>
	</div>
	<!-- repeated content  End-->
</accordion>