<div ng-controller="HomeCtrl" align='center'>
	<table class='home'>
		<tr>
			<td class='home'><h3>Total tests</h3> <canvas height='200px' id="pieefsdfsdfs" class="chart chart-pie" data="data" labels="labels"></canvas></td>
			<td class='home'><h3>Successfully tests</h3><canvas height='200px' id="pieefsdfsdfs" class="chart chart-pie" data="data" labels="labels"></canvas></td>
		    <td class='home'><h3>Failed tests</h3><canvas height='200px' id="pieefsdfsdfs" class="chart chart-pie" data="data" labels="labels"></canvas></td>
		</tr>
	</table>
</div>