<accordion close-others="true">
	<!-- repeated content -->
	<div ng-repeat="method in CurrentSuite.currentMethods | filter:searchText track by $index " style='cursor: pointer;margin-top: 10px' ng-class='getPanel(method.result)' ng-style="{'background-color': getBgCo(method.result)}">
		<input type="checkbox" id="mycheckbox" ng-model="method.chosen"><label for="mycheckbox"></label>	
	    <!-- non collapsing header -->
	        <div ng-style="{'color' : getCo(method.result)}" ng-click="getDrivers(method); goToDrivers(); resetFilterField()">
	        		<h3 overflow:hidden;'>{{method.name}}</h3>
	        </div>
	</div>
	<!-- repeated content  End-->
</accordion>
