<accordion close-others="true">
	<!-- repeated content -->
	<div ng-repeat="method in CurrentSuite.currentMethods | filter: Utilities.searchField track by $index " style='cursor: pointer;margin-top: 10px' ng-class='getPanel(method.result)' ng-style="{'background-color': getBgCo(method.result)}">
	    <!-- non collapsing header -->
	    <table>
	    	<tr>
	    		<td>
					<input type="checkbox" id="mycheckbox" ng-model="method.chosen"><label for="mycheckbox"></label>	
	    		</td>
	    		<td width='100%' ng-click="getDrivers(method); goToDrivers(); resetFilterField()">
	        		<div ng-style="{'color' : getCo(method.result)}">
	        			<h3>{{method.name}}</h3>
	        		</div>
	        	</td>
	        </tr>
		</table>
	</div>
	<!-- repeated content  End-->
</accordion>
