<accordion close-others="true">

	<!-- repeated content -->
	<div ng-repeat="method in methods | filter:searchText | orderBy:['passed']" style='margin-top: 10px'>
	    <accordion-group ng-class='getPanel(test.passed)' ng-style="{'background-color': getBgCo(test.passed)}">
	    
	    <!-- non collapsing header -->
	        <accordion-heading>
	            {{method.name}}
	        </accordion-heading>
	    <!-- non collapsing header End-->
	    
	    <!-- Content in collapsing Div -->
		<div ng-class='getBG(test.passed)'>
			<table class="table">
			    <thead>
			        <tr style='border-style: hidden'>
			            <th>Driver used</th>
			            <th>Class name</th>
			            <th>Time to run</th>
			            <th>Passed</th>
			            <th>Error type</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr border='0'>
			            <td>The usual driver</td>
			            <td>{{classes[0].classname}}</td>
			            <td>14 hours 21 min</td>
			            <td>well offcourse...</td>
			            <td ng-if="test.failure.type">{{currentClass.failure.type}}</td>
			            <td ng-if="test.error.type">{{currentClass.error.type}}</td>
			        </tr>
			    </tbody>
		    </table>
		    
		    <accordion ng-if="test.failure.message || test.error.message" close others="true">
			    <accordion-group ng-class='getPanel(test.passed)' ng-style="{'background-color': getBgCo(test.passed)}">
					<accordion-heading>
						Display Error Message
		        	</accordion-heading>
		            
					<div ng-if="test.failure.message">
			            <pre>{{test.failure.message}}</pre>
		            </div>
		            <div ng-if="test.error.message">
			            <pre>{{test.failure.message}}>{{test.error.message}}</pre>
		            </div>
			    </accordion-group>
		    </accordion>
			            
			            
			            
			            
	    </div>
	    <!-- Content in collapsing Div End -->
	    
	    </accordion-group>
	</div>
	<!-- repeated content  End-->
</accordion>