<div align='center'>
	<table class='home'>
		<tr>
		    <td class='home'><h3>Impressively Specific Data</h3><canvas 
		    														id="line" 
		    														width='600px'
		    														height='200px'
		    														class="chart chart-line" 
		    														data="project.data"
  																	labels="project.labels"
  																	series="project.series" 
  																	legend="true" 
  																	series="series"
  																	click="onClick">
																</canvas></td>
		</tr>
	</table>
	</div>
</div>