<div align='center'>
	<table class='home' border='1'>
		<tr>
		    <td class='home'><h3>Impressively Specific Data</h3><canvas 
		    														id="line" 
		    														width='600px'
		    														height='200px'
		    														class="chart chart-line" 
		    														data="project.data"
  																	labels="project.labels"
  																	series="project.series" 
  																	legend="true" 
  																	series="series"
  																	options="options"
  																	click="onClick">
																</canvas></td>
		</tr>
		<tr>
			<td ng-repeat="serie in project.series track by $index">
				{{serie}}
			</td>
		</tr>
		<tr>
			<td ng-repeat="serie in project.series track by $index">
				<input type="checkbox" ng-model="newObject[serie]" name="serie" ng-click='toggleInfo($index)'></input>
			</td>
		</tr>
	</table>
	<canvas id="myChart2" ></canvas>
	</div>
</div>