<!-- Chart -->
<div align='center' style='margin-top:20px'>
 	<!-- project logo -->
	<img ng-src="{{imagePaths[currentSuiteBasic.id -1]}}" style="cursor: pointer" class='image-paths' ng-click="goToHome()"></img> 
	<!-- project logo END-->
    <link rel="stylesheet" href="css/style.css">		
	<!-- navigation links -->
	<div id="navigation-classes" ng-click="goToClasses()" class="navTextStuff" ng-show="showClassLink('classes')">&nbsp;> {{currentSuiteBasic.name}}&nbsp;</p></div>
	<div id="navigation-methods" ng-click="goToMethods()" class="navTextStuff" ng-show="showClassLink('methods')">> {{currentClass.name}}&nbsp;</p></div>
	<div id="navigation-drivers" ng-click="goToDrivers()" class="navTextStuff" ng-show="showClassLink('drivers')">> {{currentMethod.name}}&nbsp;</p></div>
	<div id="navigation-cases" ng-click="goToCases()" class="navTextStuff" ng-show="showClassLink('cases')">> {{currentDriver.driver}}&nbsp;</p></div><br/><br/>
	<!-- navigation links END -->
	
	<!-- chart -->
	<highchart id="chart1" config="chartMainConfig"></highchart>
	<!-- chart END -->
</div>

<!-- Suite run dropdown -->
<div class="dropdown">
</div>
<!-- Suite run dropdown END -->

<!-- load chart with data button -->
<div>
	<table>
		<tr>
			<td>
				<div ng-repeat="driver in mockDriverArray" style='position:relative;float:left;'>
					<label for="mycheckbox"></label><input type="checkbox" id="mycheckbox" ng-model="class.chosen">
				</div>
			</td>
		</tr>
		<tr class='reports'>
			<td>
				<button class="btn btn-default dropdown-toggle" type="button" id="suite-dropdown" data-toggle="dropdown" aria-expanded="true">
					Choose Suite Run
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu scrollable-menu" role="menu">
					<li ng-repeat="suite in mockSuites"><a href="#">{{suite}}</a></li>
				</ul>
			</td>
			<td>
				<input type="text" id="suite-amount-input" class="form-control" style="width:200px" ng-model='amountOfRuns' placeholder="Number of Suite Runs">
			</td>
			<td>
				<button class="btn btn-default" ng-click="loadMainChart(currentSuiteID, amountOfRuns)">Submit</button>
			</td>
			<td>
				<button class="btn btn-default" ng-click="clearChosen()">Clear chosen</button>
			</td>
			<td>
				<input type="text" class="form-control" id="filter-field" style="width:200px" ng-model='SearchField.text' placeholder="Filter">
			</td>
		</tr>
	</table>	
</div>
<!-- load chart with data button END -->

<!-- view for current classes/methods/drivers etc -->
<div ui-view></div>