<!-- Chart -->
<div>
 	<!-- project logo -->
	<img ng-src="{{imagePaths[CurrentSuite.currentSuiteInfo.id -1]}}" style="cursor: pointer" class='image-paths' ng-click="setState('home')"></img> 
	<!-- project logo END-->
    <link rel="stylesheet" href="css/style.css">		
	<!-- navigation links -->
	<h4 style='width:100%;'>
		<table style='table-layout:fixed;word-wrap:break-word;width:100%;'>
		<tr>
		<td>
			<div style='table-layout:fixed;word-wrap:break-word;width:100%;' id="navigation-classes" ng-click="setState('reports.classes')" class="navTextStuff" ng-show="showClassLink('classes')">&nbsp;| {{CurrentSuite.currentSuiteInfo.name}}<wbr />&nbsp;</p></div>
			<div style='table-layout:fixed;word-wrap:break-word;width:100%;' id="navigation-methods" ng-click="setState('reports.methods')" class="navTextStuff" ng-show="showClassLink('methods')">&#10140; {{CurrentSuite.currentClass.name}}&nbsp;</p></div>
			<div style='table-layout:fixed;word-wrap:break-word;width:100%;' id="navigation-drivers" ng-click="setState('reports.cases')" class="navTextStuff" ng-show="showClassLink('cases')">&#10140; {{CurrentSuite.currentMethod.name}}&nbsp;</p></div>
		</td>
		</tr>
		</table>
	</h4>
	<!-- navigation links END -->
	<!-- chart -->
	<br><br>
	<highchart style='position:responsive;float:left;width:100%' ng-if="!mainChartToggle" id="chart1" config="chartMainConfig"></highchart>
	<!-- chart END -->
	
	<!-- Chart variant dropdown START -->
<div class="btn-group" style='display:inline;'>
	<div class="btn-group">
		<button type="button" class="btn btn-default" style='margin-top:6px' data-toggle="dropdown" aria-expanded="false">
			Choose display type <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li ng-repeat="variant in chartVariants"><a style='cursor:pointer' ng-click="changeChartVariant(variant)">{{variant}}</a></li>
		</ul>
	</div>
</div>
<div>
	<button class="btn btn-default" style='margin:7px' ng-click="loadMainChart(CurrentSuite.currentSuiteInfo.id)" title="Load new content" data-toggle="tooltip" data-placement="top" tooltip>
				Reload
			</button>
			<button style='width: 60px;margin:3px' class="btn btn-default" ng-click="clearAllChosen()" title="Clear current selections" data-toggle="tooltip" data-placement="top" tooltip>
				Clear
			</button>
			<input type="text" id="suite-amount-input" class="tool-tip" style="width:150px;height:33px;margin:3px" ng-model='Utilities.amountField' placeholder="Runs" title="Amount of runs to show" data-toggle="tooltip" data-placement="right" tooltip>
				<div class="btn-group">
				<button style='width:150px' class="btn btn-default dropdown-toggle" type="button" id="suite-dropdown" data-toggle="dropdown" aria-expanded="true" title="Select suite run to display" data-toggle="tooltip" data-placement="right" tooltip>
					{{CurrentSuite.currentTimeStamp}}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu scrollable-menu">
					<li ng-repeat="timeStamp in CurrentSuite.currentTimeStampArray"><a ng-click="loadNewTimeStamp(timeStamp)">
						{{timeStamp}}
						</a>
					</li>
				</ul>
			</div>
<accordion close-others="false">
	<!-- repeated content -->
	<div style='width:60px;' id='hej'>
	    <accordion-group>
	    
	        <accordion-heading>
	            <a style='color:black' onClick="if(document.getElementById('hej').style.width=='60px'){document.getElementById('hej').style.width = '100%';}else{document.getElementById('hej').style.width = '60px';}">
	            	OS
				</a>
	        </accordion-heading>
	    
	    <!-- BROWSERS START -->
	    <div ng-repeat="browser in CurrentSuite.currentSpecObject.browsers track by $index">
	    	<input type="checkbox" ng-model="browser.chosen">
	    	{{browser.browsername}} - v.{{browser.browserver}}
	    </div>
	    <!-- BROWSERS END -->
	    
	    <!-- Content in collapsing Div -->
		<div>		    
		    <accordion close-others="false">
			    <accordion-group ng-repeat="platform in CurrentSuite.currentSpecObject.platforms track by $index">
		        	<accordion-heading>
						<input style='height:30px' type="checkbox" id="mycheckbox" stop-click><label for="mycheckbox" style='margin-top:20px;font-weight:normal;'></label> 
						{{platform.osname}}
		        	</accordion-heading>
					<accordion>
							    <accordion-group is-open='true'>
						        	<accordion-heading>
										Devices
						        	</accordion-heading>
						    		<table>
							    		<tr style='height:30px;'>
								    		<td ng-repeat="device in platform.devices track by $index">
								    			{{device.devicename}} <input ng-model="device.chosen" style='height:30px' type="checkbox" id="mycheckbox"><label for="mycheckbox" style='margin-top:20px;font-weight:normal;'></label>
								    		</td>
							    		</tr>
						    		</table>
							    </accordion-group>
						    </accordion>	
						    	<accordion>
							    <accordion-group is-open='true'>
						        	<accordion-heading>
										<div ng-click=''>Versions</div>
						        	</accordion-heading>
						        	<table>
							        	<tr>
								        	<td ng-repeat="version in platform.versions track by $index">
								        		{{version.osver}} <input ng-model="version.chosen" style='height:30px' type="checkbox" id="mycheckbox"><label for="mycheckbox" style='margin-top:20px;font-weight:normal;'></label>
								        	</td>
							        	</tr>
						        	</table>
							    </accordion-group>
						    </accordion>		
			    </accordion-group>
		    </accordion>	            
	    </div>
	    <!-- Content in collapsing Div End -->
	    
	    </accordion-group>
	</div>
	<!-- repeated content  End-->
</accordion>
			<div class='row' style='border-bottom:1px solid'>
			</div>

			<input type="text" class="form-control" id="filter-field" style="width:150px;margin-top:5px" ng-model='Utilities.searchField' placeholder="Filter" title="Write something to filter on" data-toggle="tooltip" data-placement="right" tooltip>
	
</div>
<!-- Chart variant dropdown END -->

<div>
			</div>



<!-- load chart with data button -->

</div>
<!-- load chart with data button END -->

<!-- view for current classes/methods/drivers etc -->
<div ui-view></div>