<accordion close-others="true">
	<!-- repeated content -->
	<div ng-repeat="test in suites" style='margin-top: 10px' ng-click="goToTestCases(test.name)" ng-class='getPanel(test.passed)' ng-style="{'background-color': getBgCo(test.passed)}">
	   
	    <!-- non collapsing header -->
	        <div ng-style="{'color' : getCo(test.passed)}">
	        		<div style='padding-left:10px'><h3>Test: {{test.suiteName}} - {{test.timestamp}}</h3></div>
	        		<div style='float:right;display:inline'></div>
	        </div>
	</div>
	<!-- repeated content  End-->
</accordion>