<accordion ng-controller="CollapseCtrl" close-others="closeOthers">

	<!-- repeated content -->
	<div ng-repeat="test in suites" style='margin-top: 15px'>
	    <accordion-group ng-class='getPanel(test.passed)' ng-style="{'background-color': getCo(test.passed)}">
	   
	    <!-- non collapsing header -->
	        <accordion-heading>
	            Test: {{test.suiteName}} - {{test.timestamp}} <div style='text-align:right'><button class='btn' ng-click="goToTestCases(test.name)">View Test Cases</button></div>
	        </accordion-heading>
	    <!-- non collapsing header End-->
	    
	    <!-- Content in collapsing Div -->
		<div ng-class='getBG(test.passed)'>
			<table class="table">
			    <thead>
			        <tr>
			            <th>Tests run</th>
			            <th>Errors</th>
			            <th>Skipped</th>
			            <th>Failures</th>
			            <th>Time to run</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>{{test.tests}}</td>
			            <td>{{test.errors}}</td>
			            <td>{{test.skipped}}</td>
			            <td>{{test.failures}}</td>
			            <td>{{test.time}}</td>
			        </tr>
			    </tbody>
		    </table>
	    </div>
	    <!-- Content in collapsing Div End -->
	    
	    </accordion-group>
	</div>
	<!-- repeated content  End-->
</accordion>