<div align='center' style='margin-top:20px'>
	<img ng-src="img/aftonbladet.png" class='image-paths'></img>
	<canvas id="line" width='600px' height='200px' class="chart chart-line" data="project.data" labels="project.labels" series="project.series" legend="true" series="series" options="options" click="onClick"></canvas>
</div>
<form class="navbar-form" role="search">
        <div class="form-group">
          <input type="text" class="form-control" ng-model='searchText' placeholder="Filter">
        </div>
      </form>
<hr class="divider">
<accordion close-others="true">
	<!-- repeated content -->
	<div ng-repeat="run in currentSuite | filter:searchText | orderBy:['passed', 'suiteName']" style='margin-top: 10px' ng-click="goToSuiteClasses(run); setCurrentSuiteRun(run); resetFilterField()" ng-class='getPanel(run.passed)' ng-style="{'background-color': getBgCo(run.passed)}">
	   
	    <!-- non collapsing header -->
	        <div ng-style="{'color' : getCo(run.passed)}">
	        		<div style='padding-left:10px'><h3>Test: {{run.suiteName}} - Time Stamp: {{run.timestamp}}</h3></div>
	        		<div style='float:right;display:inline'></div>
	        </div>
	</div>
	<!-- repeated content  End-->
</accordion>