<accordion close-others="true">
	<!-- repeated content -->
	<div ng-repeat="run in currentSuite | filter:searchText | orderBy:['suiteName','passed']" style='margin-top: 10px' ng-click="goToSuiteClasses(run); setCurrentSuiteRun(run)" ng-class='getPanel(run.passed)' ng-style="{'background-color': getBgCo(run.passed)}">
	   
	    <!-- non collapsing header -->
	        <div ng-style="{'color' : getCo(run.passed)}">
	        		<div style='padding-left:10px'><h3>Test: {{run.suiteName}} - Time Stamp: {{run.timestamp}}</h3></div>
	        		<div style='float:right;display:inline'></div>
	        </div>
	</div>
	<!-- repeated content  End-->
</accordion>