<h3>Test: {{test.suiteName}} - {{test.timestamp}}</h3>
<accordion close-others="true">

	<!-- repeated content -->
	<div ng-repeat="test in currentTestSuite.testcases" style='margin-top: 10px'>
	    <accordion-group ng-class='getPanel(test.passed)' ng-style="{'background-color': getCo(test.passed)}">
	    
	    <!-- non collapsing header -->
	        <accordion-heading>
	            Test Method Name:	{{test.name}}
	        </accordion-heading>
	    <!-- non collapsing header End-->
	    
	    <!-- Content in collapsing Div -->
		<div ng-class='getBG(test.passed)'>
			<table class="table">
			    <thead>
			        <tr>
			            <th>Driver used</th>
			            <th>Class name</th>
			            <th>Time to run</th>
			            <th>Passed</th>
			            <th>Error type</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>{{test.driverName}}</td>
			            <td>{{test.className}}</td>
			            <td>{{test.time}}</td>
			            <td>{{test.passed}}</td>
			            <td ng-if="test.failure.type">{{test.failure.type}}</td>
			            <td ng-if="test.error.type">{{test.error.type}}</td>
			        </tr>
			    </tbody>
		    </table>
		    <table class="table">
				<thead>
			        <tr>
			            <th>Error Message</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td ng-if="test.failure.message">{{test.failure.message}}</td>
			            <td ng-if="test.error.message">{{test.error.message}}</td>
			        </tr>
			    </tbody>
		    </table>
	    </div>
	    <!-- Content in collapsing Div End -->
	    
	    </accordion-group>
	</div>
	<!-- repeated content  End-->
</accordion>
