<accordion close-others="true">

	<!-- repeated content -->
	<div ng-repeat="test in suites" style='margin-top: 10px'>
	    <accordion-group is-open="test.open" ng-class='getPanel(test.passed)' ng-style="{'background-color': getCo(test.passed)}">
	   
	    <!-- non collapsing header -->
	        <accordion-heading>
	        	<div style='overflow: hidden;position:relative'>
	        		<div style='display:inline'>Test: {{test.suiteName}} - {{test.timestamp}} </div>
	        		<div style='float:right;display:inline'><button class='btn' ng-click="goToTestCases(test.name)">View Test Cases</button></div>
	        	</div>
	        </accordion-heading>
	    <!-- non collapsing header End-->
	    
	    <!-- Content in collapsing Div -->
		<div ng-class='getBG(test.passed)'>
			<table class="table">
			    <thead>
			        <tr>
			            <th>Tests run</th>
			            <th>Errors</th>
			            <th>Skipped</th>
			            <th>Failures</th>
			            <th>Time to run</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>{{test.tests}}</td>
			            <td>{{test.errors}}</td>
			            <td>{{test.skipped}}</td>
			            <td>{{test.failures}}</td>
			            <td>{{test.time}}</td>
			        </tr>
			    </tbody>
		    </table>
		    


		    
	    </div>
	    <!-- Content in collapsing Div End -->
	    <div ng-if="isOpenSuite(test.name)">
<canvas id="pie" class="chart chart-pie" data="data"
  labels="labels"></canvas> 
  </div>
	    </accordion-group>
	</div>
	<!-- repeated content  End-->
</accordion>