<!DOCTYPE html>
<html ng-app="webLog">
<head>
	<link rel="stylesheet" href="/app/components/grid/grid-style.css">
</head>
<body>
<div>
	<div>
		<div class='desktop'>
			<!-- Status texts -->
			<h4 ng-if="ctrl.isHubConnected()">
				Selenium hub is not running
			</h4>
			<h4 ng-if="ctrl.noNodesConnected()">
				No nodes connected
			</h4>
			<h3 ng-if="ctrl.isDesktopNodesConnected()" class="grid-h3">
				Desktops
			</h3>
			
			<!-- Desktops -->
			<div 
				ng-click="ctrl.gridToggleModal();ctrl.setCurrentGrid(driver)" 
				ng-repeat="driver in ctrl.GridData.data.FreeProxies track by $index" 
				ng-if="ctrl.isDesktop(driver.capabilities[0].platformName)" 
				class='box' 
				ratio-keeper>
				<img 
					class='logo' 
					ng-src='{{ctrl.getOSLogo(driver.capabilities[0].platform)}}' 
					style='vertical-align:middle'>
				</img>
				<div class='desc'>
					<b>Platform:</b> {{driver.capabilities[0].platform}}<br>
					<b>OS:</b> {{driver.capabilities[0].osname}}<br>
					<b>Port:</b> {{driver.configuration.port}}<br>
					
					<br><b>Browsers: </b>
					<div ng-repeat="capability in driver.capabilities track by $index">
						<img 
							ng-src="{{ctrl.getBrowserImage(capability.browserName)}}" 
							style='float:left'>
						</img>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Devices -->
		<h3 ng-if="ctrl.isDeviceNodesConnected()">
			Devices
		</h3>
		<div 
			ng-if="!ctrl.isDesktop(driver.capabilities[0].platformName)" 
			ng-click="ctrl.gridToggleModal();ctrl.setCurrentGrid(driver)" 
			ng-repeat="driver in ctrl.GridData.data.FreeProxies track by $index" 
			class='box' ratio-keeper>
			<img 
				class='logo' 
				ng-src='{{ctrl.getOSLogo(driver.capabilities[0].platform)}}' 
				style='vertical-align:middle'>
			</img>
			<div class='desc'>
				<h4>{{driver.capabilities[0].deviceName}}</h4>
				<b>platform name:</b> {{driver.capabilities[0].platformName}}<br>
				<b>platform version:</b> {{driver.capabilities[0].platformVersion}}<br>
				<b>device type:</b> {{driver.capabilities[0].rmDeviceType}}<br>
				<b>browser:</b> {{driver.capabilities[0].browserName}}<br>
			</div>
		</div>
	</div>
	
	<!-- JSON object modal -->
	<modal-dialog 
		id='modal-grid-dialog' 
		show='ctrl.gridModalShown'
		style='background-color : transparent;color:white' 
		toggle-modal="ctrl.gridToggleModal()">
		<h1 id='json-header' align='center'>
			Grid Registration info
		</h1>
		<br>
		<div class="container slider" style='color:black;font-size:20px;'>
			<table align='center' style='margin-top:20px'>
				<tr>
					<td style='text-align:left'>
						<pre>{{ctrl.currentGridObject}}</pre>
					</td>
				</tr>
			</table>
		</div>
	</modal-dialog-sysos>
</div>