<div ng-controller="GridCtrl">
	<div>
		<div class='desktop'>
			<h4 ng-if="isHubConnected()">Selenium hub is not running</h4>
			<h4 ng-if="noNodesConnected()">No nodes connected</h4>
			<h3 class="grid-h3" ng-if="isDesktopNodesConnected()">Desktops</h3>
			<div ng-repeat="driver in GridData.data.FreeProxies track by $index" ng-if="isDesktop(driver.capabilities[0].platformName)" class='box' ratio-keeper>
				<img class='logo' ng-src='{{getOSLogo(driver.capabilities[0].platform)}}' style='vertical-align:middle'></img>
				<div class='desc'>
					<b>Platform:</b> {{driver.capabilities[0].platform}}<br>
					<b>OS:</b> {{driver.capabilities[0].osname}}<br>
					<b>Port:</b> {{driver.configuration.port}}<br>
					
					<br><b>Browsers: </b>
					<div ng-repeat="capability in driver.capabilities track by $index">
						<img ng-src="{{getBrowserImage(capability.browserName)}}" style='float:left'></img>
					</div>
				</div>
			</div>
		</div>
		
		<h3 ng-if="isDeviceNodesConnected()">Devices</h3>
				<div ng-repeat="driver in GridData.data.FreeProxies track by $index" ng-if="!isDesktop(driver.capabilities[0].platformName)" class='box' ratio-keeper>
				<img class='logo' ng-src='{{getOSLogo(driver.capabilities[0].platform)}}' style='vertical-align:middle'></img>
				<div class='desc'>
					<h4>{{driver.capabilities[0].deviceName}}</h4>
					<b>platform name:</b> {{driver.capabilities[0].platformName}}<br>
					<b>platform version:</b> {{driver.capabilities[0].platformVersion}}<br>
					<b>device type:</b> {{driver.capabilities[0].rmDeviceType}}<br>
					<b>browser:</b> {{driver.capabilities[0].browserName}}<br>
				</div>
			</div>
	</div>
	<div ui-view></div>
</div>