.box {
    border-radius: 4px;
    padding: 20px;
    width: 2175px;
    height: 150px;
    margin:0px 10px 10px 0px;
    display:inline-block;
    position:relative;
    background-color: #D4D9DD;
}

.rm-logo{
	height:25px;
}

.rm-logo-a{
	height:50px;
}

.desc{
	float:left;
}