body{
	background-color: #D4D9DD;
}

/* Redmind triangle */
.triangle-overlay {
	display: block;
	position: fixed;
	z-index: 1000;
	top: 0px;
	right: 0px;
	width: 105px;
	height: 172px;
}
/* Site content */
.container{
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background-color: #ecf0f1;
	margin-top: 50px;
}
/* Bootstrap menu */
.navbar-custom {
    background-color: #D4D9DD;
    margin-top: 25px;
    text-decoration: none;
}

.navbar .nav > li > a {
    color:  #000000;
}

/* Bootstrap hover */
.navbar-custom .nav > li > a:hover{
	background-color: #00967F;
	color: white;
}
.navbar-custom .nav > li > a:active{
	background-color: #00967F;
	color: white;
}

.navbar-custom .nav > li > a:focus{
	background-color: #00967F;
	color: white;
}

/* Home.html table style*/
table.home td{
	float: left;
	text-align:center;
}

.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
}

/*.panel>.panel-heading{background-color:black}*/