body{
	background-color: #D4D9DD;
}

/* Redmind triangle */
.triangle-overlay {
	display: block;
	position: fixed;
	z-index: 2000;
	top: 0px;
	right: 0px;
	width: 105px;
	height: 172px;
}
/* Site content */
.container{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background-color: #ecf0f1;
	position:relative;
}

/* Bootstrap menu */
.navbar-custom {
    background-color: #D4D9DD;
    margin-top: 25px;
    font-size: 37px;
    color: #666666;
}

.navbar-toggle {
	   background-color: #ecf0f1;
	   float:left;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

.navbar-custom .nav > li > a{
	color: #000;
}

.navbar-custom .nav > li > a:hover{
	background-color: #D4D9DD;
	color: #000000;
}
.navbar-custom .nav > li > a:active{
	background-color: #D4D9DD;
	color: #000000;
}

.navbar-custom .nav > li > a:focus{
	background-color: #D4D9DD;
	color: #000000;
}
/* End of Bootstrap menu */

/* Style for image-path at home.html*/
.image-paths{
	height: 30px;
	width: 200x;
	position:relative;
	float:left;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.navTextStuff {
	float:left;
	cursor: pointer;
}

/* Checkbox style */
#mycheckbox 
{ 
    float: left; 
    width: 40px; 
    height: 40px; 
    background: url('http://www.gravatar.com/avatar/a2614a382fe86e0f69c1beb27182a63b?s=32&d=identicon&r=PG'); 
}

#mycheckbox:checked 
{ 
    background: url('http://www.gravatar.com/avatar/330084e6f83101ec352f5f156b56508e?s=32&d=identicon&r=PG'); 
}

/* Style for reports.html */

.reports {
	position:relative;
	float:left;
}

.reports td{
	position:relative;
	float:left;
}

/*.panel>.panel-heading{background-color:black}*/