body{
	background-color: #D4D9DD;
}

/* Redmind triangle */
.triangle-overlay {
	display: block;
	position: fixed;
	z-index: 2000;
	top: 0px;
	right: 0px;
	width: 105px;
	height: 172px;
}
/* Site content */
.container{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background-color: #ecf0f1;
	position:relative;
}

/* Bootstrap menu */
.navbar-custom {
    background-color: #D4D9DD;
    margin-top: 25px;
}

.navbar-toggle {
	   background-color: #ecf0f1;
	   float:left;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

.navbar-custom .nav > li > a{
	color: #000;
	text-transform: uppercase;
}

.navbar-custom .nav > li > a:hover{
	background-color: #D4D9DD;
	color: #000000;
}
.navbar-custom .nav > li > a:active{
	background-color: #D4D9DD;
	color: #000000;
}

.navbar-custom .nav > li > a:focus{
	background-color: #D4D9DD;
	color: #000000;
}

/* test-suites.html table style*/
table.suite{
	table-layout:fixed;
	width:100%;
}

.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
}

.line-legend li:first-child {
    display: none;
}

/*.panel>.panel-heading{background-color:black}*/