.progressbar-margin-top{
	margin-top:20px;
}

.livetest-table-container{
	height: auto;
	width: 100%;
	margin: 0 auto 0 auto;
	border-radius: 4px;
	padding: 0;
	margin: 0;
}

.livetest-table-container table{
	margin-bottom: 0;
}

.test-row-running{
	background-color: #3176B0;
	color: #b7d2f0;
}

.test-row-passed{
	background-color: #DFF0D8;
	color: #3C763D;
}

.test-row-failure{
	background-color: #F2DEDE;
	color: #A94442;
}

.test-row-skipped{
	background-color: #FEF7E4;
	color: #8D6E3F;
}

.testheader-left{
	display: inline;
	float: left;	
}

.testheader-right{
	display: inline;
	float: right;
}