.load-graph-data-button{
	width: 175px;
	float:right;
	margin-top:20px;
}

.ww{
	word-wrap: break-all;
}

.highcharts-legend-item{
	cursor:pointer;
}

.suite-info-center-container{
	overflow:auto;
}

.suite-info-center-container div:not(:last-child){
	position: relative;
	top: 50%;
	transform: translateY(50%);
}

.suite-info-center-left{
	float:left;
	width:33.3%;
}

.suite-info-center-center{
	float:left;
	width:33.3%;
	text-align:center;
}

.suite-info-center-right{
	float:right;
	width:33.3%;
	text-align:right;
}