.load-graph-data-button{
	width: 175px;
	float:right;
	margin-top:20px;
}

.ww{
	word-wrap: break-all;
}

.highcharts-legend-item{
	cursor:pointer;
}

.icon-check{
	margin-right:10px;
}

.browser-name{
	margin-right:10px;
}

.device-name{
	margin-right:10px;
}

.version-name{
	margin-right:10px;
}

.specs-clear-button{
	vertical-align:bottom;
	width:150px;
}

.accordion-toggle{
	padding-top:10px;
	padding-bottom:10px;
}

.specs-heading{
	padding:0px;
}

.spec-option-header{
	margin-left:10px;
	margin-right:10px;
}

.row-break{
	border:10px solid #D4D9DD;
	margin-top:10px;
	margin-bottom:10px;
}

.checkbox-holder{
	padding: 10px 0px 10px 0;
	width:10px;
}

.specs-container{
	margin-top:10px;
}

.suite-info-center-container{
	overflow: hidden;
    zoom: 1;
    display: block; 
}

.suite-info-center-container div:not(:last-child){
	position: relative;
	top: 50%;
	transform: translateY(50%);
}

.suite-info-center-left{
	float:left;
	width:33.3%;
}

.suite-info-center-center{
	float:left;
	width:33.3%;
	text-align:center;
}

.suite-info-center-right{
	float:right;
	width:33.3%;
	text-align:right;
}

.graph-options{
	display: inline-block;
  	width: 100%;
	margin-top: 5px;
	position: relative;
}

.graph-option-dropdown{
	margin-right:10px;
}

.btn-group h5{
	margin:0 0 1px 0;
	
}

.load-button{
	width:175px;
  	position: absolute;
  	right: 0px;
	bottom: 0;
}

.btn-group button{
	width: 150px;
}

.graph-options .btn-group{
	margin-right:10px;
	text-align: center;
}